

{% extends "Theme/Users/Adminuser/layoutadmin.html.twig" %}
{% block meta %}
{{ parent() }}
<meta name="keywords" content="{{ site }}, Business, Innovation,Administration"/>
<meta name="author" content="Noel Kenfack"/>
<meta name="description" content="{{ site }} | Inscription | Cameroun | {{ metier }}" />
{% endblock %}
{% block title %}
{{ parent() }} | Accueil Admin
<style>
.box{
background-color:#fff;border-top:1px solid #f0f0f0;-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);padding:10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
</style>
{% endblock %}

{% block userblog_body %}
<hr style="margin-top: 45px; margin-bottom: 0px;"/>
<div  style="background: rgba(83, 101, 240, 1); height: 10px;">
</div>
<div style="background: #BDC3C7;">
	<div class="container" style="color: #fff;">
	Accueil <span class="mdi-av-play-arrow" style="font-size: 10px;"></span>  Administration
	</div>	
</div>	
<hr style="margin-bottom: 0px;">
<!--content-->
		<div class="product" style="padding-top: 20px; margin-bottom: 30px;">
			<div class="container" style="padding: 0px;">
			<div class="col-lg-12 animecourant-panel">
			</div>
				<div class="col-md-4 product-bottom">
				{{ render(controller("App\\Controller\\Users\\Adminuser\\AccueilController:menuadmin")) }}
				<!---->
				</div>
				<div class="col-md-8 panel panel-widget" style="padding: 0px;">
					<div class="header-card" style="margin-bottom: 7px;">

					<div class="row">
						<div class="col-md-6">
							<div style="padding: 7px; color: #fff;">Liste d'utilisateurs</div>	
						</div>

						<div class="col-md-6">

							<form action="{{ path('users_adminuser_liste_all_user') }}" method="post">
								<div class="file-field input-field">
								<input class="file-path validate" type="text" name="search" style="height: 40px;" placeholder="Nom ou email">
								<button class="btn" type="submit">
									<span class="fa fa-search"></span> Rechercher
								</button>
								</div>
						    </form>
							  
						</div>
					</div>
				</div>

				<div class="content-article variation-contenu" value="0" id="">

					{{ render(controller("App\\Controller\\Users\\User\\UserController:searchinguser", { 'page': 1, 'searchitem': searchitem|default('') })) }}

				</div>
			
				<div class="clearfix"></div>

				</div>
			</div class="clearfix"></div>
			</div>

<script src="{{ asset('template/assets/js/onvisible.js') }}" type="text/javascript"></script>
<!-- /js files -->
<hr>

<div class="modal fade" data-backdrop="false" id="modalGestionCatalogueSelect" style="margin-top: 60px;">
<div class="modal-dialog">
<div class="modal-content" style="padding: 0px; border-radius: 0px;">
<nav class="red" style="background: #3565ae!important;">
<h5 style="padding-top: 20px; padding-left: 4px;">
  <i class="mdi-content-create"></i> Mise à jour de l'article <button type="button" class="close right" data-dismiss="modal"><i class="mdi-content-clear modal-action  modal-close"></i></button>
</h5>
</nav>
<div class="modal-body">
<div class="row">
	<div class="row">
	  <div class="input-field col s12">
		<div class="wait-chargement-content-module" style="text-align: center;">
			Patientez un moment pendant le chargement de l'article</br>
			<img src="{{ asset('template/images/loader1.gif') }}" alt="image" style="height: 40px; width: 40px;">
		</div>

		<div class="content-module-loading" style="display: none;">
		
		</div>
	  </div>
	</div>
</div>
</div>
</div>
</div>
</div>


<script>

var bouge = 1;
var dimension = 200;
function activateelement()
{
var visibility = visibleElement('.animecourant-panel');

if(visibility && bouge == 0){
	bouge = 1;
	$('.toutleblock').css('position','relative');
	$('.toutleblock').css('bottom','0px');
	$('.toutleblock').css('margin-bottom','0px');
}
}

function stopelement()
{
var visibility = visibleElement('.stop-courant-panel');
if(visibility && bouge == 1){
	if(visibleElement('.animecourant-panel') && visibleElement('.stop-courant-panel'))
	{
	
	}else{
	bouge = 0;
	$('.toutleblock').css('position','fixed');
	$('.toutleblock').css('width',dimension+'px');
	$('.toutleblock').css('bottom','7px');
	$('.toutleblock').css('margin-bottom','50px');
	}
}
}

var idStopelement = 0;
var idActivateelement = 0;
function controlScroll()
{
	var largeur = ($(window).width());
	dimension = $('.toutleblock').width();
	if (largeur >= 768)
	{
	   /*
		if(visibleElement('.animecourant-panel') && visibleElement('.stop-courant-panel'))
		{
		
		$('.toutleblock').css('position','fixed');
		$('.toutleblock').css('width',dimension+'px'); 
		}else{ 
		idStopelement = window.setInterval(function() { stopelement(); }, 100);
		idActivateelement = window.setInterval(function() { activateelement(); }, 100);
		} */
		idStopelement = window.setInterval(function() { stopelement(); }, 100);
		idActivateelement = window.setInterval(function() { activateelement(); }, 100);
	}
}
controlScroll();

function openTransactions(id){

	$('#modalGestionCatalogueSelect').modal('show');
	$('.wait-chargement-content-module').show();
	$('.content-module-loading').hide();
	$.get('{{ path('users_adminuser_consultation_operations_etudiant') }}', { id: id }, function(data){
		$('.wait-chargement-content-module').hide();
		$('.content-module-loading').show(); 
		$('.content-module-loading').html(data); 
	});

}

</script>			
{% endblock %}

{% block javascripttemplate %}
$('.mytestimonials').addClass('position-user');
{% endblock %}
