<div class="toutleblock">
<div class="panel panel-widget">
	<div class="compose-left">
		<div class="chat-grid widget-shadow">
		<div class="head" style="padding: 7px; background: #ddd; margin: -1px -1px 0px -1px; color: #fff;">Gestion du Site</div>
			<ul>
				<li style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
				<a class="img-slide open-element" href="{{ path('users_adminuser_accueil_administration') }}">
					<div class="col-xs-3" style="padding: 0px;">
					<img class="img-circle" src="{{ asset('template/images/slide.png') }}" alt="" class="pull-left" style="border-radius: 25px; height: 50px; width: 50px;"/>
					</div>
					<div class="col-xs-9">
					<strong>Images et Slides</strong></br>
					Accueil, Inscription, connexion
					</div>
					<div class="clearfix"> </div>	
				</a>
				</li>
				
				<li style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="admin-site open-element" href="{{ path('users_adminuser_ajout_nouveau_admin') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/co.png') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Gestion des Admins</strong></br>
							Ajout, Suppression
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
				<li style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="categorie-produit open-element" href="{{ path('users_adminuser_categorisation_produit_plateforme') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/rencontre.jpg') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Modules de formation</strong></br>
							Cours
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
				<li style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="article-service open-element" href="{{ path('users_adminuser_ajouter_nouveau_service') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/annonce.png') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Offres de formation</strong></br>
							Parcours
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
				<li style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="competition-service open-element" href="{{ path('users_adminuser_ajouter_nouvelle_competition_user') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/images.jpg') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Modules du forum</strong></br>
							Cours, parcours, formations
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
				
				<li style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="fiche-enligne open-element" href="{{ path('users_adminuser_liste_dossier_recrutement') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/roman.jpg') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Fiche d'ajout des fonds</strong></br>
							Comptes utilisateurs
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="panel panel-widget">
	<div class="compose-left">
		<div class="chat-grid widget-shadow">
		<div class="head" style="padding: 7px; background: #ddd; margin: -1px -1px 0px -1px; color: #fff;">Gestion de l'entreprise</div>
			<ul>
				<li  style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="menu-about-us open-element" href="{{ path('users_adminuser_gestion_info_entreprise') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/info.png') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Informations À propos</strong></br>
							Présentation
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
				<li  style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="new-service open-element" href="{{ path('users_adminusers_add_new_service') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/afex.png') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Valeurs ajoutés</strong></br>
							Accueil
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
				<li  style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="villes-service open-element" href="{{ path('produit_service_ajouter_ville') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/localise.png') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Nos villes</strong></br>
							Villes d'opérations
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
				<li style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="mytestimonials open-element" href="{{ path('users_adminuser_liste_all_user') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/co.png') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Utilisateurs </strong></br>
							Formateurs & Elèves
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
				<li  style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="message-inbox open-element" href="{{ path('users_adminuser_liste_message_recu') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/env.png') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Messages Inbox</strong></br>
							Contacts, Conseils
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
				<li style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="campagne-mail open-element" href="{{ path('users_adminuser_message_email_new_letter') }}">
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/alerte.png') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						<div class="col-xs-9">
							<strong>Campagne E-mail</strong></br>
							Diffusion d'emails
						</div>
						<div class="clearfix"> </div>	
					</a>
				</li>
				
				<li style="border-bottom: 1px solid #ddd; padding: 7px 0px; margin-right: -1px;">
					<a class="campagne-mail open-element" href="{{ path('users_adminuser_catalogue_chantier_pro') }}">
						
						<div class="col-xs-3" style="padding: 0px;">
							<img class="img-circle" src="{{ asset('template/images/alerte.png') }}" alt="" style="border-radius: 25px; height: 50px; width: 50px;">
						</div>
						
						<div class="col-xs-9">
							<strong>Liste des métiers</strong></br>
							Recommandations
						</div>
						
						<div class="clearfix"></div>	
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

				
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 stop-courant-panel">
				
</div>
</div>	

	