{% if etape == 1 %}
	<div class="form-coustom-reset-password" style="text-align: left; margin-bottom: 30px;">
		
		<div class="col-md-10 col-sm-12 col-md-offset-1" style="color: #333;">
		 <div style="border-bottom: 1px solid #ddd; margin-bottom: 15px; font-size: 20px;">Entrez le code d'identification envoyé à votre adresse.</div>
		 <form method="post" action="#" class="form-check-identifiant">
			<div class="form-group form-group-resset">
				<input type="text" class="form-control" placeholder="Votre code" required="">
			</div>
			
			<div class="alert alert-resset alert-block alert-danger" style="display:none">
			<h4>Erreur !</h4>
			Le code envoyé est invalide
			</div>
			
			<div class="form-group">
				<button  class="btn btn-primary" style="background: #e34520;">Envoyer</button>
			</div>
			
			{% if type == 1 %}
			<div class="alert alert-block alert-info" style="margin-top: 15px; color: #e34520;">
				<span class="fa fa-info-circle"></span> Si vous n'avez pas reçu notre email, veuillez consulter vos spams !
			</div>
			{% else %}
			<div class="alert alert-block alert-danger" style="margin-top: 15px; color: #e34520;">
				<span class="fa fa-info-circle"></span> Echec d'envoi de SMS !
			</div>
			{% endif %}
		 </form>
		</div>
		
		<div class="clearfix"></div>
	</div>	
	
	<script type="text/javascript">	
	$('form.form-check-identifiant').on('submit', function(){
		var hauteur = $(".form-coustom-reset-password").height() + 20;
		var largeur = $(".form-coustom-reset-password").width() + 5;
		var padding = Math.round(hauteur/2 - 50);
		var code = $(this).find('input').val();
		var id = '{{ user.id }}';
		$(".form-coustom-reset-password").before('<div class="attente-resultat" style="padding-top: '+padding+'px; z-index: 102; height: '+hauteur+'px; text-align: center; vertical-align: center; width: '+largeur+'px; position: absolute; background: #fff; margin-top: -7px;"><span><img src="{{ asset('template/images/loader1.gif') }}" alt="..." style="width: 80px; height: 80px;" /></span></div>');
		$.post('{{ path('users_user_reset_user_password', {'etape': 2}) }}',{ code: code, id: id }, function(data){
			$('.attente-resultat').hide();
			if(data != 0)
			{
				$('.form-coustom-reset-password').replaceWith(data);
			}else{
				$("div.form-group-resset").addClass("has-error");
				$("div.alert-resset").show("slow").delay(4000).hide("slow");
			}
		});
		return false;
     });
	</script>	
{% else %}
	{% if etape == 2 %}
		<div class="form-coustom-reset-password" style="text-align: left; margin-bottom: 30px;">
		
		<div class="col-md-10 col-sm-12 col-md-offset-1" style="color: #333;">
		 <div style="border-bottom: 1px solid #ddd; margin-bottom: 15px; font-size: 20px;">Utilisez le formulaire ci-dessous pour définir votre nouveau mot de passe.</div>
		 <form method="post" action="#" class="form-check-identifiant">
			<div class="form-group form-group-resset1">
				<input type="password" id="reset_first_password" class="form-control" placeholder="Nouveau mot de passe" required="">
			</div>
			
			<div class="alert alert-resset1 alert-block alert-danger" style="display:none; margin: 0px;">
			<h4>Erreur !</h4>
			Le nouveau mot de passe est invalide
			</div>
			
			<div class="form-group form-group-resset2">
				<input type="password" id="reset_second_password" class="form-control" placeholder="Reprendre le mot de passe" required="">
			</div>
			
			<div class="alert alert-resset2 alert-block alert-danger" style="display:none; margin: 0px;">
			<h4>Erreur !</h4>
			Les deux mots de passe sont différent.
			</div>
			
			<div class="form-group">
				<button  class="btn btn-primary" style="background: #e34520;">Envoyer</button>
			</div>
		 </form>
		</div>
		
		<div class="clearfix"></div>
	</div>	
	
	<script type="text/javascript">	
	$('form.form-check-identifiant').on('submit', function(){
		if(!{{ passwordregex }}.test($('#reset_first_password').val())) {
			$("div.form-group-resset1").addClass("has-error");
			$("div.alert-resset1").show("slow").delay(4000).hide("slow");
			return false;
		}
		if($('#reset_first_password').val() != $('#reset_second_password').val()) {
			$("div.form-group-resset2").addClass("has-error");
			$("div.alert-resset2").show("slow").delay(4000).hide("slow");
			return false;
		}
		var hauteur = $(".form-coustom-reset-password").height() + 20;
		var largeur = $(".form-coustom-reset-password").width() + 5;
		var padding = Math.round(hauteur/2 - 50);
		var password = $(this).find('input').val();
		var id = '{{ user.id }}';
		$(".form-coustom-reset-password").before('<div class="attente-resultat" style="padding-top: '+padding+'px; z-index: 102; height: '+hauteur+'px; text-align: center; vertical-align: center; width: '+largeur+'px; position: absolute; background: #fff; margin-top: -7px;"><span><img src="{{ asset('template/images/loader1.gif') }}" alt="..." style="width: 80px; height: 80px;" /></span></div>');
		$.post('{{ path('users_user_reset_user_password', {'etape': 3}) }}',{ password: password, id: id }, function(data){
			$('.attente-resultat').hide();
			if(data != 0)
			{
				$('.form-coustom-reset-password').replaceWith(data);
			}else{
				$("div.form-group-resset1").addClass("has-error");
				$("div.alert-resset1").show("slow").delay(4000).hide("slow");
			}
		});
		return false;
     });
	</script>
	{% else %}
		{% if etape == 3 %}
			<div class="form-coustom-reset-password" style="text-align: left; margin-bottom: 30px;">
		
			<div class="col-md-10 col-sm-12 col-md-offset-1" style="color: #333;">
			 <div style="border-bottom: 1px solid #ddd; margin-bottom: 15px; font-size: 20px;">Réinitialisation du mot de passe effectuée avec succès !</div>

				<div class="alert alert-block alert-info">
					<span class="fa fa-info-circle"></span> vous pouvez vous connecter dès maintenant à votre compte {{ site }}, avec votre nouveau mot de passe.</br>
					<a href="{{ path('login') }}" style="text-decoration: underline;">Cliquez ici pour vous connecter.</a>
				</div>
			</div>
			
			<div class="clearfix"></div>
			</div>	
		{% else %}
			<div>Echec !</div>
		{% endif %}
	{% endif %}
{% endif %}
