
{% extends "Theme/Users/User/layouthome.html.twig" %}

{% block meta %}

	{{ parent() }}
	<meta name="keywords" content="{{ site }}, {{ produit.souscategorie.categorie.nom }}, {{ produit.souscategorie.nom }}, {{ produit.titre }}"/>
	<meta name="author" content="Noel Kenfack"/>
	<meta name="description" content="{{ site }} - {{ produit.souscategorie.categorie.nom }}, {{ produit.souscategorie.nom }}, {{ produit.titre }}"/>
	
{% endblock %}

{% block title %}

	{{ parent() }} - {{ produit.souscategorie.categorie.nom }}, {{ produit.souscategorie.nom }}, {{ produit.titre }}
	
{% endblock %}

{% block stylesheets %}

	{{ parent() }}	
	
{% endblock %}

{% block userblog_body %}

<style>
	@keyframes swing {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(10deg);
	}
	30% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(5deg);
	}
	70% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
	}

	@keyframes sonar {
	0% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
	}

	body {
		font-size: 0.9rem;
	}
	.page-wrapper .sidebar-wrapper,
	.sidebar-wrapper .sidebar-brand > a,
	.sidebar-wrapper .sidebar-dropdown > a:after,
	.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
	.sidebar-wrapper ul li a i,
	.page-wrapper .page-content,
	.sidebar-wrapper .sidebar-search input.search-menu,
	.sidebar-wrapper .sidebar-search .input-group-text,
	.sidebar-wrapper .sidebar-menu ul li a,
	#show-sidebar,
	#close-sidebar {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	/*----------------page-wrapper----------------*/


	.page-wrapper .theme {
		width: 40px;
		height: 40px;
		display: inline-block;
		border-radius: 4px;
		margin: 2px;
	}

	.page-wrapper .theme.chiller-theme {
		background: #1e2229;
	}

	/*----------------toggeled sidebar----------------*/

	.page-wrapper.toggled .sidebar-wrapper {
		left: 0px;
	}

	@media screen and (min-width: 768px) {
		.page-wrapper.toggled .page-content {
			padding-left: 360px; /*Gestion du responsive*/
		}
	}
	/*----------------show sidebar button----------------*/
	#show-sidebar{
		position: fixed;
		left: 0;
		top: 125px;  /*Gestion du Responsive */
		border-radius: 0 4px 4px 0px;
		width: 35px;
		transition-delay: 0.3s;
		z-index: 12;
	}
	.page-wrapper.toggled #show-sidebar {
		left: -40px;
	}
	/*----------------sidebar-wrapper----------------*/

	.sidebar-wrapper {
		width: 350px; /*Gestion du responsive*/
		height: 100%;
		max-height: 100%;
		position: fixed;
		top: 125px; /*Gestion du Responsive */
		left: -360px;  /*Gestion du responsive*/
		z-index: 10;
	}

	.sidebar-wrapper ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.sidebar-wrapper a {
		text-decoration: none;
	}

	/*----------------sidebar-content----------------*/

	.sidebar-content {
		max-height: calc(100% - 30px);
		height: calc(100% - 30px);
		overflow-y: auto;
		position: relative;
	}

	.sidebar-content.desktop {
		overflow-y: hidden;
	}

	/*--------------------sidebar-brand----------------------*/

	.sidebar-wrapper .sidebar-brand {
		padding: 10px 20px;
		display: flex;
		align-items: center;
	}

	.sidebar-wrapper .sidebar-brand > a {
		text-transform: uppercase;
		font-weight: bold;
		flex-grow: 1;
	}

	.sidebar-wrapper .sidebar-brand #close-sidebar {
		cursor: pointer;
		font-size: 20px;
	}
	/*--------------------sidebar-header----------------------*/

	.sidebar-wrapper .sidebar-header {
		padding: 20px;
		overflow: hidden;
	}

	.sidebar-wrapper .sidebar-header .user-pic {
		float: left;
		width: 60px;
		padding: 2px;
		border-radius: 12px;
		margin-right: 15px;
		overflow: hidden;
	}

	.sidebar-wrapper .sidebar-header .user-pic img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.sidebar-wrapper .sidebar-header .user-info {
		float: left;
	}

	.sidebar-wrapper .sidebar-header .user-info > span {
		display: block;
	}

	.sidebar-wrapper .sidebar-header .user-info .user-role {
		font-size: 12px;
	}

	.sidebar-wrapper .sidebar-header .user-info .user-status {
		font-size: 11px;
		margin-top: 4px;
	}

	.sidebar-wrapper .sidebar-header .user-info .user-status i {
		font-size: 8px;
		margin-right: 4px;
		color: #5cb85c;
	}

	/*-----------------------sidebar-search------------------------*/

	.sidebar-wrapper .sidebar-search > div {
		padding: 10px 20px;
	}

	/*----------------------sidebar-menu-------------------------*/

	.sidebar-wrapper .sidebar-menu {
		padding-bottom: 10px;
	}

	.sidebar-wrapper .sidebar-menu .header-menu span {
		font-weight: bold;
		font-size: 14px;
		padding: 15px 20px 5px 20px;
		display: inline-block;
	}

	.sidebar-wrapper .sidebar-menu ul li a {
		display: inline-block;
		width: 100%;
		text-decoration: none;
		position: relative;
		padding: 8px 30px 8px 20px;
	}

	.sidebar-wrapper .sidebar-menu ul li a i {
		margin-right: 10px;
		font-size: 12px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		border-radius: 4px;
	}

	.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
		display: inline-block;
		animation: swing ease-in-out 0.5s 1 alternate;
	}

	.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f105";
		font-style: normal;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		background: 0 0;
		position: absolute;
		right: 15px;
		top: 14px;
	}

	.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
		padding: 5px 0;
	}

	.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
		padding-left: 0px;
		font-size: 13px;
	}

	.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
		content: "\f111";
		font-family: "Font Awesome 5 Free";
		font-weight: 400;
		font-style: normal;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-right: 10px;
		font-size: 8px;
	}

	.sidebar-wrapper .sidebar-menu ul li a span.label,
	.sidebar-wrapper .sidebar-menu ul li a span.badge {
		float: right;
		margin-top: 8px;
		margin-left: 5px;
	}

	.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
	.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
		float: right;
		margin-top: 0px;
	}

	.sidebar-wrapper .sidebar-menu .sidebar-submenu {
		display: none;
	}

	.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
		transform: rotate(90deg);
		right: 17px;
	}

	/*--------------------------side-footer------------------------------*/

	.sidebar-footer {
		position: fixed;
		width: 350px;
		bottom: 0;
		display: flex;
	}

	.sidebar-footer > a {
		flex-grow: 1;
		text-align: center;
		height: 30px;
		line-height: 30px;
		position: relative;
	}

	.sidebar-footer > a .notification {
		position: absolute;
		top: 0;
	}

	.badge-sonar {
		display: inline-block;
		background: #980303;
		border-radius: 50%;
		height: 8px;
		width: 8px;
		position: absolute;
		top: 0;
	}

	.badge-sonar:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border: 2px solid #980303;
		opacity: 0;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		animation: sonar 1.5s infinite;
	}

	/*--------------------------page-content-----------------------------*/

	.page-wrapper .page-content {
		display: inline-block;
		width: 100%;
		padding-left: 0px;
		padding-top: 20px;
	}

	.page-wrapper .page-content > div {
	padding: 20px 40px;
	}

	.page-wrapper .page-content {
	overflow-x: hidden;
	}

	/*------scroll bar---------------------*/

	::-webkit-scrollbar {
	width: 5px;
	height: 7px;
	}
	::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
	}
	::-webkit-scrollbar-thumb {
	background: #525965;
	border: 0px none #ffffff;
	border-radius: 0px;
	}
	::-webkit-scrollbar-thumb:hover {
	background: #525965;
	}
	::-webkit-scrollbar-thumb:active {
	background: #525965;
	}
	::-webkit-scrollbar-track {
	background: transparent;
	border: 0px none #ffffff;
	border-radius: 50px;
	}
	::-webkit-scrollbar-track:hover {
	background: transparent;
	}
	::-webkit-scrollbar-track:active {
	background: transparent;
	}
	::-webkit-scrollbar-corner {
	background: transparent;
	}


	/*-----------------------------chiller-theme-------------------------------------------------*/

	.chiller-theme .sidebar-wrapper {
		background: #31353D;
	}

	.chiller-theme .sidebar-wrapper .sidebar-header,
	.chiller-theme .sidebar-wrapper .sidebar-search,
	.chiller-theme .sidebar-wrapper .sidebar-menu {
		border-top: 1px solid #3a3f48;
	}

	.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
	.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
		border-color: transparent;
		box-shadow: none;
	}

	.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
	.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
	.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
	.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
	.chiller-theme .sidebar-wrapper .sidebar-brand>a,
	.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
	.chiller-theme .sidebar-footer>a {
		color: #818896;
	}

	.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
	.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
	.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
	.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
	.chiller-theme .sidebar-footer>a:hover i {
		color: #b8bfce;
	}

	.page-wrapper.chiller-theme.toggled #close-sidebar {
		color: #bdbdbd;
	}

	.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
		color: #ffffff;
	}

	.chiller-theme .sidebar-wrapper ul li:hover a i,
	.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
	.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
	.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
		color: #16c7ff;
		text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
	}

	.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
	.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
	.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
	.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
		background: #3a3f48;
	}

	.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
		color: #6c7b88;
	}

	.chiller-theme .sidebar-footer {
		background: #3a3f48;
		box-shadow: 0px -1px 5px #282c33;
		border-top: 1px solid #464a52;
	}

	.chiller-theme .sidebar-footer>a:first-child {
		border-left: none;
	}

	.chiller-theme .sidebar-footer>a:last-child {
		border-right: none;
	}


	.btn-video-article{
		border-radius: 4px;
		height: 40px;
		display: inline-block;
		background: rgba(255,255,255,0.2);
		padding: 0px 7px 2px 7px;
	}
	.btn-video-article:hover{
		background: rgba(255,255,255,0.7);
	}
	.btn-video-article a{
		padding: 5px;
		display: inline-block!important;
		border-radius: 100%;
	}
	.btn-video-article a:hover{
		background: #092759!important;
	}
	.sub-item-left-sidebar{
	background: rgba(255,255,255,0.1);
	color: #fff;
	border-left: 4px solid transparent;
	}
	.sub-item-left-sidebar:hover{
		background: rgba(255,255,255,0.2); 
		color: #fff!important;
		border-left: 4px solid #fff!important;
	}

	.active-item-cours{
		background: rgba(255,255,255,0.2); 
		color: #fff!important;
		border-left: 4px solid #fff!important;
	}

	.item-link-tabs{
		padding: 7px 15px;
		background: #f7f7f7;
		border: 1px solid #ddd;
		border-radius: 7px 7px 0px 0px;
	}
	.item-link-tabs.active{
		background: #092759;
	}
	.item-link-tabs.active a{
		color: #fff!important;
	}
	.MsoListParagraphCxSpFirst, .MsoListParagraphCxSpMiddle, .MsoListParagraphCxSpLast, .MsoListParagraph{
		text-indent: 0pt!important;
		margin: 0px!important;
	}
</style>

<section style="background: #4e7cff; height: 250px; padding-top: 20px;">
	<div class="container">
		<div class="row">
			<div class="col-md-7" style="color: #fff;">
				<div id="breadcrumb" class="breadcrumb-dash" style="">
					<a href="#!" class="breadcrumb-close">Accueil</a>
					<a href="{{ path('produit_produit_liste_produit_souscategorie', {'id': produit.souscategorie.categorie.id }) }}" class="breadcrumb-link">
					  <span class="fa fa-bandcamp"></span> {{ produit.souscategorie.categorie.nom }}
					</a>
					<a href="#!" class="breadcrumb-link">{{ produit.souscategorie.nom }}</a>
					<a href="#breadcrumb" class="breadcrumb--active">Détail du cours</a>
				</div>
				<h2>{{ produit.titre }}</h2>
				<a href="#!" class="text-left" style="display: block; text-decoration: none; color: #fff;">
					<strong>4,7</strong>
					<div class="star-ratings-css" style="margin-left: 0px; display: inline-block;">
						<div class="star-ratings-css-top" style="width: 82%;  white-space: nowrap;"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
						<div class="star-ratings-css-bottom" style="white-space: nowrap;"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
					</div>
					<strong> (1 614 notes)</strong> <span>6 692 participants</span>
				</a>
				<div style="margin-top: 20px;">
					Crée par <a href="{{ path('users_user_user_accueil', {'id': produit.id }) }}"style="text-decoration: underline; color: #fff;">{{ produit.user.name(50) }}</a>, Formateur AZ
				</div>
				<div>
					Dernière mise à jour {{ produit.date|date('d') }}/{{ produit.date|date('m') }}/{{ produit.date|date('Y') }}; Langue: <span class="fa fa-globe"></span> Français
				</div>
			</div>

			<div class="col-md-5">
				<div class="img-thumbnail" style="height: 420px; padding: 7px;">
				
					<div class="variation-contenu-ressource" style="height: 300px;">
						<div class="loader-wrap">
							<div class="loader">
								<div class="box-1 box"></div>
								<div class="box-2 box"></div>
								<div class="box-3 box"></div>
								<div class="box-4 box"></div>
								<div class="box-5 box"></div>
							</div>
						</div>
					</div>

					<div class="text-center" style="margin-top: 10px;">
						<h3>Prix officiel: {{ produit.newprise }} {{ devise }}</h3>
						<a href="#!" class="btn btn-primary btn-block souscription-cours-online" value="1">Commander</a>
					</div>
					
					<script type="text/javascript">
						$(document).ready(function(){
							$.ajax({
							url : '{{ path('produit_produit_async_ressources_formation_dwld',{'type': 'cours', 'id': produit.id, 'mess': mess }) }}',
							type : 'POST',
							dataType : 'html',
							success : function(code_html, statut){ // success est toujours en place, bien sûr !
								$('.variation-contenu-ressource').replaceWith(code_html);
							},

							error : function(resultat, statut, erreur){
								alert("Echec");
							}

							});
						});
				    </script>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section style="margin-top: 15px;">
	<div class="container">
		<div class="row">
			<style>
				strong{
					color: #000000, #9db93c, #ff1616;
				}
			</style>
			<div class="col-md-7">
				<div class="text-left" style="background: #fff; padding: 15px; border-radius: 5px; margin-bottom: 15px;">
					<a href="#!" class="btn btn-primary souscription-cours-online float-right" style="margin-top: 15px;"> C'est parti </a> 
					<h2>Inscrivez vous à ce cours</h2>
					<div>Accédez à toutes les ressources de ce cours et obtenez un certificat reconnu par l'état.</div>
				</div>
			
				<div class="panel-text">
					<div style="border-bottom: 1px solid #ddd;"><strong><span class="mdi-communication-textsms"></span> {{ produit.titre }} <a href="#!" class="open-content pull-right" value="down" name="1"><span class="mdi-hardware-keyboard-arrow-down"></span></a></strong></div>
					<div class="content-panel-1">{{ produit.description|raw }}</div>
				</div>
				
				<div class="panel-text" style="margin-top: 15px;">
					<div style="border-bottom: 1px solid #ddd;"><strong><span class="mdi-action-question-answer"></span> Objectifs de ce cours <a href="#!" class="open-content pull-right" value="down" name="2"><span class="mdi-hardware-keyboard-arrow-down"></span></a></strong></div>
					<div class="content-panel-2">{{ produit.objectif|raw }}</div>
				</div>
				
				<div class="panel-text" style="margin-top: 15px;">
					<div style="border-bottom: 1px solid #ddd;"><strong><span class="mdi-action-announcement"></span> Pré-requis <a href="#!" class="open-content pull-right" value="down" name="3"><span class="mdi-hardware-keyboard-arrow-down"></span></a></strong></div>
					<div class="content-panel-3">{{ produit.prerequis|raw }}</div>
				</div>


				<h2 style="margin-top: 15px;">Programme</h2>
				{% for partie in liste_part %}

					{{ render(controller("App\\Controller\\Produit\\Produit\\PartiecoursController:detailpartie", {'partie': partie.id, 'number': loop.index, 'addform': 2, 'codeadmin': codeadmin })) }}

				{% endfor %}
				
				{% if app.user == produit.user or is_granted('ROLE_GESTION') %}
					<a href="#!" class="btn btn-info  add-new-part" style="text-align: left!important;"><em class="fa fa-plus"></em> Ajoutez une nouvelle partie</a>
				{% endif %}

			</div>

			<div class="col-md-5" style="margin-top: 200px;"> 
				
				<div class="card" style="padding: 25px;">
					<h2 class="text-left">
						À propos de ce cours

						{% if app.user == produit.user or is_granted('ROLE_GESTION') %}
							<a href="{{ path('produit_produit_modification_produit_controller', {'id': produit.id }) }}" style="float: right; font-size: 15px;;"><span class="fa fa-pencil"></span> Modifier</a>
						{% endif %}
					</h2>

					<div>
						<span class="badge badge-info">Durée Moyenne de formation: <span>{{ produit.getDureeCours }}</span></span>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							Nombre de partie <span class="badge badge-default">15</span>
						</li>
						<li class="list-group-item">
							Nombre de TP <span class="badge badge-default">{{ pratiquechapitres|length }}</span>
						</li>
						<li class="list-group-item">
							Supports de cours <span class="badge badge-default">{{ supportchapitres|length }}</span>
						</li>
						<li class="list-group-item">
							Exercices <span class="badge badge-default">{{ exerciceparties|length  }}</span>
						</li>
						<li class="list-group-item">
							QCM <span class="badge badge-default">15</span>
						</li>
					</ul>

					<div>
						<strong>Prix officiel pour accéder à toutes les ressources du cours:</strong> <span class="badge badge-secondary">{{ produit.newprise }} {{ devise }}</span>
					</div>
					<div style="padding: 10px 0px;">
						<h2>
							<a href="#!" class="btn btn-primary souscription-cours-online" value="1">Souscrire à cette formation</a></li>
						</h2>
					</div>
				</div>	

				<div  class="card" style="padding: 25px; margin-top: 10px; ">

					{% if produit.user != null %}
					<div class="sidebar-header" style="margin-top: 15px;">
						<div class="user-pic">
						<img class="img-responsive img-rounded" 
							src="{% if produit.user.imgprofil != null %}{{ asset(produit.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}"
							alt="{{ produit.user.name(30) }}" style="width: 50px;
							float: left;
							margin-right: 5px;
							border-radius: 10px;"/>
						</div>
						<div class="user-info" style="padding-top: 15px;">
						<span class="user-name"> {{ produit.user.nom }}
							<strong>{{ produit.user.prenom }}</strong>
						</span>
						<span class="user-role">Formateur {{ site }}</span>
						</div>
					</div>
					{% else %}
						<div class="sidebar-header" style="margin-top: 15px;">
						
							<div class="user-pic">
							<img class="img-responsive img-rounded" src="{{ asset('template/images/co.png') }}" alt="Formateur {{ site }}" style="width: 50px;
							float: left;
							margin-right: 5px;
							border-radius: 10px;"/>
							</div>
							
							<div class="user-info" style="padding-top: 15px;">
							<span class="user-name"> Anonyme </span>
							<span class="user-role">Formateur {{ site }}</span>
							</div>
							
						</div>
					{% endif %}
					
				</div>

				<h2 style="margin-top: 15px;">Dans le même parcours</h2>
				<div class="list-group">
					{% set formation = null %}  
					{% for oderproduct in cours_formation|slice(0,4) %}
					<a href="{{ path('produit_produit_detail_produit_market', {'id': oderproduct.produit.id }) }}" class="list-group-item list-group-item-action flex-column align-items-start {% if oderproduct.produit == produit %}active{% endif %}">
					  <div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">{{ oderproduct.produit.titre }}</h5>
					  </div>
					  <img src="{% if oderproduct.produit.imgproduit != null %}{{ asset(oderproduct.produit.imgproduit.getwebpath) }}{% else %}{{ asset('template/images/annonce.png') }}{% endif %}" style="width: 40px; height: 40px; float: left; margin-right: 5px;"/>
					  <p class="mb-1">Durée Totale: {{ oderproduct.produit.getDureeCours }}</p>
					  <small>{{ oderproduct.produit.souscategorie.nom }}</small>
					</a>
					{% if loop.first %}
						{% set formation = oderproduct %}  
					{% endif %}
					{% else %}
					<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
					  <div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Aucun Cours</h5>
						<small class="text-muted">3 days ago</small>
					  </div>
					  <p class="mb-1">La liste des cours associés à cette formation est vide.</p>
					  <small class="text-muted">{{ site }}</small>
					</a>
					{% endfor %}
					
				</div>
				  <div class="text-primary" style="font-size: 15px;">
					  <span class="fa fa-angle-right"> </span> {% if formation != null %}{{ formation.service.nom }}{% else %}Formation non spécifiée{% endif %}
				  </div>
				  <div style="font-size: 12px; color: #CCC; margin-top: 15px;">
					  <span class="fa fa-info-circle"></span> Ce cours fait aussi partir de 5 autres formations.
				  </div>

				  <h2 style="margin-top: 15px;">Statistiques</h2>

				  <div class="row">
					
					<div class="col-md-3">
						<a href="" class="btn btn-info"> <span class="like-current-product" style="font-size: 14px; color: #fff;" title="Ajouter une mention j'aime" value="{{ produit.id }}"><span class="fa fa-thumbs-up"></span> {{ produit.nblike }}</span></a>
					</div>
					
					<div class="col-md-3">
						<a href="" class="btn btn-info"> <span class="save-current-product" style="font-size: 14px; color: #fff;" title="Enregistrer la vidéo" value="{{ produit.id }}"><span class="fa fa-bookmark"></span> {{ produit.nbenregistrer }}</span></a>
					</div>

					<div class="col-md-3">
						<a href="{# { path('produit_produit_download_video_cours', {'id': produit.id }) } #}" class="btn btn-info"> <span style="font-size: 14px; color: #fff;" title="Télécharger la vidéo"><span class="fa fa-download"></span> {{ produit.videoproduit.nbtele }}</span></a>
					</div>

					<div class="col-md-3">
						<a href="" class="btn btn-info"> <span style="font-size: 14px; color: #fff;" title="Partager la vidéo"><span class="fa fa-share-alt"></span> {{ produit.nbpartage }}</span></a>

					</div>
				  </div>

				  <h2>Support du cours</h2>
				<div class="list-group">
					{% for support in supportchapitres %}
					  <div class="list-group-item">
						<a href="{{ path('produit_produit_presentation_chapter', {'id': support.chapitrecours.id }) }}">{{ support.chapitrecours.titre }}</a> 
						<span class="fa fa-angle-right"> </span>
						Support Numéro: {{ support.num }}
						<a class="dropdown-toggle pull-right " data-toggle="dropdown" style="float: right; cursor: pointer"><span class=" fa fa-file-text-o"></span> Supports </a>
						<ul class="dropdown-menu" style="width: 300px; float: right; margin-right: 50px; padding: 7px; box-shadow: 0px 4px 10px #c9c9c9;background: #fff; border-radius: 5px;">
							<li class="divider"></li>
							{% if prodpan != null %}
								<li><a href="{{ path('produit_produit_telecharger_support_chapter', {'id': support.id}) }}" target="_blank"><span class="fa fa-arrow-circle-o-down"></span> Télchargez le support</a></li>
							{% else %}
								<li><a href="#!" class="souscription-cours-online"><span class="fa fa-arrow-circle-o-down"></span> Télchargez le support</a></li>
							{% endif %}
							{% if app.user == produit.user %}
							<li><a  href="{{ path('produit_produit_user_modif_chapter', {'id': support.id }) }}"><span class="fa fa-file-text-o"></span> Ajouter un support</a></li>
							{% endif %}
						</ul>
					  </div>
					{% else %}	  
						<div class="alert panel-text">
							<strong>Aucune donnée pour cette section</strong>
						</div>
					{% endfor %}	  
				</div>
				
				<h2>Travaux pratiques</h2>
				<div class="list-group">
				    {% for pratique in pratiquechapitres %}
					  <div class="list-group-item">
						<a href="{{ path('produit_produit_presentation_chapter', {'id': pratique.chapitrecours.id }) }}">{{ pratique.chapitrecours.titre }}</a> 
						<span class="fa fa-angle-right"> </span>
						TP N°: {{ pratique.num }}
						<a class="dropdown-toggle pull-right " data-toggle="dropdown" style="float: right; cursor: pointer"><span class=" fa fa-file-text-o"></span> Supports </a>
						<ul class="dropdown-menu" style="width: 300px; float: right; margin-right: 50px; padding: 7px; box-shadow: 0px 4px 10px #c9c9c9;background: #fff; border-radius: 5px;">
							<li class="divider"></li>
							{% if prodpan != null %}
								<li><a href="{{ path('produit_produit_download_travaux_pratique', {'id': pratique.id }) }}" target="_blank"><span class=" fa fa-arrow-circle-o-down"></span> Télchargez le Tp</a></li>
								<li class="divider"></li>
								{% if prodpan.produit != null %}
								<li><a href="{{ path('users_user_detail_panier_user', {'panier': prodpan.panier.id, 'produit': prodpan.produit.id }) }}"><span class=" fa fa-arrow-circle-o-up"></span> Déposez votre correction</a></li>
								{% else %}
									{% if prodpan.panier.chapitrecours != null %}
									<li><a href="{{ path('users_user_detail_panier_user', {'panier': prodpan.panier.id, 'produit': prodpan.panier.chapitrecours.partiecours.produit.id }) }}"><span class=" fa fa-arrow-circle-o-up"></span> Déposez votre correction</a></li>
									{% endif %}
								{% endif %}
							{% else %}
								<li><a href="#!" class="souscription-cours-online"><span class=" fa fa-arrow-circle-o-down"></span> Télchargez le Tp</a></li>
							{% endif %}
							
							<li class="divider"></li>
							{% if app.user == produit.user %}
							<li><a  href="{{ path('produit_produit_user_modif_chapter', {'id': pratique.id }) }}"><span class="fa fa-file-text-o"></span> Ajouter un Tp</a></li>
							{% endif %}
						</ul>
					  </div>
					{% else %}	  
						<div class="alert panel-text">
							<strong>Aucune donnée pour cette section</strong>
						</div>
					{% endfor %}
				</div>

				<h2>Exercices</h2>
				<div class="list-group">
				    {% for exercice in exerciceparties %}
					  <div class="list-group-item">
						
						<a href="{{ path('produit_produit_presentation_chapter', {'id': exercice.chapitrecours.id }) }}">{{ exercice.chapitrecours.titre }}</a> 
						<span class="fa fa-angle-right"> </span>
						Exervice N°: {{ exercice.num }}
						<a class="dropdown-toggle pull-right " data-toggle="dropdown" style="float: right; cursor: pointer"><span class=" fa fa-file-text-o"></span> Supports </a>
						<ul class="dropdown-menu" style="width: 300px; float: right; margin-right: 50px; padding: 7px; box-shadow: 0px 4px 10px #c9c9c9;background: #fff; border-radius: 5px;">
							<li class="divider"></li>
							{% if prodpan != null %}
								<li><a href="{{ path('produit_produit_telecharge_exercice', {'id': exercice.id }) }}" target="_blank"><span class=" fa fa-arrow-circle-o-down"></span> Télchargez l'éxercice</a></li>
								<li class="divider"></li>
								{% if prodpan.produit != null %}
								<li><a href="{{ path('users_user_detail_panier_user', {'panier': prodpan.panier.id, 'produit': prodpan.produit.id }) }}"><span class=" fa fa-arrow-circle-o-up"></span> Déposez votre correction</a></li>
								{% else %}
									{% if prodpan.panier.chapitrecours != null %}
									<li><a href="{{ path('users_user_detail_panier_user', {'panier': prodpan.panier.id, 'produit': prodpan.panier.chapitrecours.partiecours.produit.id }) }}"><span class=" fa fa-arrow-circle-o-up"></span> Déposez votre correction</a></li>
									{% endif %}
								{% endif %}
							{% else %}
								<li><a href="#!" class="souscription-cours-online"><span class="fa fa-arrow-circle-o-down"></span> Télchargez l'éxercice</a></li>
							{% endif %}
							
							<li class="divider"></li>
							{% if app.user == produit.user %}
								<li><a  href="{{ path('produit_produit_user_modif_chapter', {'id': exercice.id }) }}"><span class="fa fa-file-text-o"></span> Ajouter un Exercice</a></li>
							{% endif %}
						</ul>
					  </div>
					{% else %}	  
						<div class="alert panel-text">
							<strong>Aucune donnée pour cette section</strong>
						</div>
					{% endfor %}
				</div>
				{#
				<h2>Auto-évaluation des compétences</h2>
				<div class="list-group">
					{% for partie in liste_part %}
						{% for chapitre in partie.getAllChapitre %}
						<a href="{{ path('produit_produit_presentation_chapter', {'id': chapitre.id }) }}" class="list-group-item list-group-item-action">
							{{ produit.titre }} <span class="fa fa-angle-right"> </span> {{ chapitre.titre }} <span class="fa fa-angle-right"> </span> x QCM
						</a> 
						{% endfor %}
					{% endfor %}
				</div>#}

			</div>
		</div>
	</div>
</section>

{% for partie in liste_part %}
	{{ render(controller("App\\Controller\\Produit\\Produit\\PartiecoursController:detailpartie"
	, {'partie': partie.id, 'number': loop.index, 'addform': 1, 'codeadmin': codeadmin })) }}
{% endfor %}

<section style="margin-bottom: 20px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

			<!--- \\\\\\\Post-->
			<div class="card gedf-card">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">
								Vous avez une question ?
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="true">
								Mes messages
							</a>
						</li>
					</ul>
				</div>
				<div class="card-body" style="border: none;">
					<div class="tab-content" id="myTabContent" style="border: none; padding: 0px;">
						<div class="tab-pane active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
							<div class="form-group">
								<textarea class="form-control open-panel-chat-message" id="message" rows="1" placeholder="Demandez de l'aide à {{ produit.user.name(30) }}" style="border: 2px dashed  #092759; cursor: pointer; font-size: 18px;"></textarea>
							</div>
						</div>
						
						<div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
							<div class="form-group">
								Liste des messages
							</div>
							
							<div class="list-group">
							  {% for message in messages_cours %}
							  <a href="{% if message.produit != null %}{{ path('produit_produit_detail_produit_market', {'id': message.produit.id, 'mess': message.id }) }}{% else %}{{ path('produit_produit_presentation_chapter', {'id': message.chapitrecours.id, 'mess': message.id }) }}{% endif %}" class="list-group-item list-group-item-action flex-column align-items-start">
								<div class="d-flex w-100 justify-content-between">
								  <h5 class="mb-1">{{ message.titre }}</h5>
								  <small>{{ message.getDuree }}</small>
								</div>
								<p class="mb-1">{{ message.contenu|raw }} </p>
								<small>Cliquez pour consulter | <span class="badge badge-primary badge-pill">{{ message.interventions|length }}</span> Intervantion(s)</small>
							  </a>
							  {% else %}
								<div class="col-md-12">
									<div class="text-center" style="height: 400px; padding-top: 100px; background: #fff; display: block; width: 100%!important; border: 1px solid #f4f4f4; border-radius: 5px;">
										<span class="fa fa-frown-o"></span> Aucune données disponible pour cette requête.</br>
										<hr style="width: 100px; border-bottom: 1px solid red;">
									</div>
								</div>
							  {% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Post /////-->
			</div>
		</div>
	</div>
</section>

		
<div class="modal fade" id="infos-action-new-part" style="margin-top: 100px;">
<div class="modal-dialog modal-md" style="border-radius: 10px;">
<div class="modal-content text-left">
<div class="modal-header text-left" style="height: 60px; padding-top: 10px;">
	<h4 class="modal-title" style="padding: 7px; display: block; width: 100%;">
		<button type="button" class="close" data-dismiss="modal" style="float: right!important; margin-top: -15px;">&times;</button>
		<span class="fa fa-plus"></span> Ajouter un nouvelle partie
	</h4>
</div>
	
<div class="modal-body" style="background: #fff; color: #333;">
	{{ form_start(form, {'attr': {'id': 'add_new_part_course', 'class': 'col s12','action': path('produit_produit_add_new_partie_cours', {'id': produit.id}) }}) }}
		<div class="form-group champ10">
		{{ form_widget(form.titre, {'attr': {'class': 'titre_partie_course_add form-control'}}) }}
		</div>
		<div class="alert alertnotif10 alert-block alert-danger alert-dismissable" style="display:none; padding: 3px;">
		<h4 style="margin-bottom: 0px;">Erreur </h4>
		Taille invalide !!! <span class="label label-info pull-right control-info-champ10"></span>
		</div>
		<div class="form-group champ11">
		{{ form_widget(form.rang, {'attr': {'class': 'number_partie_course_add form-control'}}) }}
		</div>
		<div class="alert alertnotif11 alert-block alert-danger alert-dismissable" style="display:none; padding: 3px;">
		<h4 style="margin-bottom: 0px;">Erreur </h4>
		Entier positif !!! <span class="label label-info pull-right control-info-champ11"></span>
		</div>
		<button class="btn btn-primary btn-block btn-lg" style="margin-top: 15px;">Enregistrez <span class="glyphicon glyphicon-send"></span></button>
	{{ form_end(form) }}
</div>

<div class="modal-footer" style="display: block!important; text-align: right;">
	<span class="pull-left">&copy; {{ site }}</span>
	  {% include 'Theme/General/Template/Menu/social.html.twig' %}
	</div>
</div>
</div>
</div>


<div class="modal fade" id="modal-inscription-cours" style="margin-top: 100px;">
<div class="modal-dialog modal-md" style="border-radius: 10px;">
<div class="modal-content text-left">
<div class="modal-header text-left" style="height: 60px; padding-top: 10px;">
	<h4 class="modal-title" style="padding: 7px; display: block; width: 100%;">
		<button type="button" class="close" data-dismiss="modal" style="float: right!important; margin-top: -15px;">&times;</button>
		<span class="fa fa-plus"></span> Inscrivez-vous pour suivre ce cours
	</h4>
</div>

<div class="modal-body" style="background: #fff; color: #333;">
<div class="row">

<div class="col-md-12">
<ul class="nav nav-tabs">
  <li class="active item-link-tabs" value="1"><a data-toggle="tab" href="#Offres-formation">Offres de formation <span class="fa fa-chevron-circle-right"></span></a></li>
  
  <li class="item-link-tabs" value="3"><a href="#!">Souscription</a></li>
  <li class="item-link-tabs" value="2" style="opacity: 0; width: 1px; overflow: hidden; position; relative; z-index: -1;"><a data-toggle="tab" href="#souscription-product">Souscription</a></li>
</ul>

<div class="tab-content" style="min-width: 100%; display: block;">
  <div id="Offres-formation" class="tab-pane  active" style="min-width: 100%;">
    <div class="card">
		<div class="card-body">
			<h5 class="card-title" style="margin-bottom: 5px;">{{ produit.name(60) }}</h5>
			<h6 class="card-subtitle mb-2 text-muted"><span class="fa fa-angle-right"></span> Ce cours uniquement</h6>
			<p class="card-text">{{ produit.description|raw }}</p>
			<a href="#!" class="card-link"><strong>{{ produit.newprise }} {{ devise }}</strong></a>
		    <a href="#!" class="card-link btn btn-primary souscription-cours-btn" style="float: right;">Souscription</a>
		</div>
	</div>
	{% if oldservice != null %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title" style="margin-bottom: 5px;">{{ oldservice.nom }}</h5>
			<h6 class="card-subtitle mb-2 text-muted"><span class="fa fa-angle-right"></span> Ce cours et {{ oldservice.produitformations|length }} autres cours</h6>
			<p class="card-text">{{ oldservice.pubinline[:150] }}</p>
			<a href="#!" class="card-link"><strong>{{ oldservice.nprix }} {{ devise }}</strong></a>
			<a href="#!" class="card-link btn btn-primary souscription-formation-btn" style="float: right;">Souscription</a>
		</div>
	</div>
	{% endif %}
  </div>

  <div id="souscription-product" class="tab-pane fade" style="min-width: 100%;">
    <div class="row">
		<div class="col-md-12">
		<div class="text-left form-souscription-user pass-souscription-cours" style="border: 1px solid #ddd; border-radius: 7px; padding: 20px; margin-top: 15px; background: #f7f7f7;">
			<h3>Prix unique de souscription au cours {{ produit.name(60) }}</h3>
			<div>
				<span class="badge badge-primary">{{ produit.newprise }} {{ devise }}</span>
			</div>
			<div style="border-top: 1px solid #ddd; margin-top: 15px;">
				Pour souscrire, veuillez rentrez votre mot de passe.
			</div>
			
			<div class="clearfix"></div>
			<form action="{{ path('produit_produit_ajouter_product_panier', {'id': produit.id }) }}" method="post" style="margin-top: 15px;">
				<div class="form-group">
					<input type="password" placeholder="Rentrez votre mot de passe" id="password" name="_password" required class="form-control" style="margin-top: 15px; width: 100%; border-radius: 5px;">
					<input type="hidden" placeholder="Rentrez votre mot de passe" id="typedeformation" name="_typedeformation" required class="input-type-deformation" style="margin-top: 15px; width: 100%; border-radius: 5px;">
				</div>
				<div style="margin-top: 15px;">
					<button type="submit" class="btn btn-primary btn-block bg-struct" style="border-radius: 0px;">Confirmez le payement avec votre compte</button>
				</div>
			</form>
			{% if app.user != null %}
			<div class="alert alert-info" style="margin-top: 15px;">
				<div>Votre solde actuel est de: <span class="badge badge-danger">{{ app.user.soldeprincipal }} {{ devise }}</span>  </div>
				{% if app.user.soldeprincipal < produit.newprise  %}
				<a href="{{ path('produit_service_yourcv_recrutement') }}" class="">
					<span style="color: red; font-size: 16px;">Solde Insufisant</span>: Cliquez ici pour créditer
				</a>
				{% endif %}
			</div>
			{% endif %}
		</div>
		
		{% if oldservice != null %}
			<div class="text-left form-souscription-user pass-souscription-formation" style="border: 1px solid #ddd; border-radius: 7px; padding: 20px; margin-top: 15px; background: #f7f7f7;">
				<h3>Prix unique de souscription à la formation {{ oldservice.nom }}</h3>
				<div>
					<span class="badge badge-primary">{{ oldservice.nprix }} {{ devise }}</span>
				</div>
				<div style="border-top: 1px solid #ddd; margin-top: 15px;">
					Pour souscrire, veuillez rentrez votre mot de passe.
				</div>
				
				<div class="clearfix"></div>
				<form action="{{ path('produit_service_add_formation_panier', {'id': oldservice.id }) }}" method="post" style="margin-top: 15px;">
					<div class="form-group">
						<input type="password" placeholder="Rentrez votre mot de passe" id="password" name="_password" required class="form-control" style="margin-top: 15px; width: 100%; border-radius: 5px; border: 3px solid #ddd;"/>
						<input type="hidden" placeholder="Rentrez votre mot de passe" id="typedeformation" name="_typedeformation" required class="input-type-deformation" style="margin-top: 15px; width: 100%; border-radius: 0px;">
					</div>
					<div style="margin-top: 15px;">
						<button type="submit" class="btn btn-primary btn-block bg-struct" style="border-radius: 0px;">Confirmez le paiement avec votre compte</button>
					</div>
				</form>
				{% if app.user != null %}
				<div class="alert alert-info" style="margin-top: 15px;">
					<div>Votre solde actuel est de: <span class="badge badge-danger">{{ app.user.soldeprincipal }} {{ devise }}</span>  </div>
					{% if app.user.soldeprincipal < oldservice.nprix  %}
					<a href="{{ path('produit_service_yourcv_recrutement') }}" style="text-decoration: underline;">
						<span style="color: red; font-size: 16px;">Solde Insufisant</span>: Cliquez ici pour créditer
					</a>
					{% endif %}
				</div>
				{% endif %}
			</div>
		{% endif %}
		</div>
	</div>
  </div>
</div>
</div>

<div class="clearfix"></div>
</div>
</div>

<div class="modal-footer" style="display: block!important; text-align: right;">
	<span class="pull-left">&copy; {{ site }}</span>
	{% include 'Theme/General/Template/Menu/social.html.twig' %}
</div>

</div>
</div>
</div>
	
{% endblock %}

{% block srcjavascripttemplate %}

{% endblock %}

{% block javascripttemplate %}

jQuery(function($){

$(".sidebar-dropdown > a").click(function(){
  $(".sidebar-submenu").slideUp(200);
  if (
    $(this)
      .parent()
      .hasClass("active")
  ) {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .parent()
      .removeClass("active");
  } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .next(".sidebar-submenu")
      .slideDown(200);
    $(this)
      .parent()
      .addClass("active");
  }
});

$('.souscription-cours-btn').click(function(){
	$('.form-souscription-user').hide();
	$('.pass-souscription-cours').show();
	$('.item-link-tabs[value="2"]').find('a').trigger("click");
	$('.item-link-tabs[value="3"]').addClass('active');
});

$('.souscription-formation-btn').click(function(){
	$('.form-souscription-user').hide();
	$('.pass-souscription-formation').show();
	$('.item-link-tabs[value="2"]').find('a').trigger("click");
	$('.item-link-tabs[value="3"]').addClass('active');
});

$('.item-link-tabs a').click(function(){
	$('.item-link-tabs').removeClass('active');
	$(this).parent().addClass('active');
});

/*
------------------------------
Début du code de gestion du responsive
------------------------------
*/

$("#close-sidebar").click(function(){
  $(".page-wrapper").removeClass("toggled");
});

$("#show-sidebar").click(function(){
  $(".page-wrapper").addClass("toggled");
});

$('.detail-courant-product').css('width',($(window).width()+360)+'px');
$('.detail-courant-product').show();

$('#close-sidebar').click(function(){
	$('.inner-detail-product').css('margin-right','15px');
});

$('#show-sidebar').click(function(){
	$('.inner-detail-product').css('margin-right','380px');
});

$(window).bind('scroll', function(){
	taillescroll = 60;

	if($(window).scrollTop() > taillescroll){
	  $('.sidebar-wrapper').css('top','65px');
	}else{
	  $('.sidebar-wrapper').css('top','125px');
	}
});
/*
------------------------------
Fin du code de gestion du responsive
------------------------------
*/


$('.like-current-product').click(function(){
	var id = $(this).attr('value');
	var position = "aimer";
	updateproduit(id,position);
});
$('.save-current-product').click(function(){
	var id = $(this).attr('value');
	var position = "enregistrer";
	updateproduit(id,position);
});

function updateproduit(id,position)
{
	{% if app.user != null %}
		var height = ($(window).height() + $(window).scrollTop());
		var width = $(window).width() + 100;
		var scrolltop = $(window).scrollTop();
		$('.panel-result-action-elearning-user').show();
		$('.content-alert-action-elearning-user').show();
		$('.content-alert-action-elearning-user').html('<div style="position: fixed; top: 0px; margin-bottom: '+scrolltop+'px; left: 0px; z-index: 15000; width: '+width+'px; height: '+height+'px; background: rgba(0,0,0,0.5);"></div>');

	  
		$.post('{{ path('produit_produit_add_mention_animation_produit', {'id': app.user.id}) }}',{ id: id, 'position': position }, function(data){
		  if(data != 0)
		  {
			  $('.panel-result-action-elearning-user').hide();
			  $('.content-alert-action-elearning-user').hide();
			
			  resetNotif();
			  alertify.alert('<div style="margin-bottom: 20px;">Excellent !!! <br/>La mention j\'aime le cours a été ajoutée avec succès !</div>');
		  }else{
			  resetNotif();
			  alertify.alert("Echec, Une erreur a été rencontrée lors de l\'enregistrement de la commande.");
			  $('.panel-result-action-elearning-user').hide();
			  $('.content-alert-action-elearning-user').hide();
		  }
		});
	{% else %}
		$('#modal-infos-action-connexion').modal('show');
	{% endif %}
}
$('.add-new-part').click(function(){
	$('#infos-action-new-part').modal('show');
});

{% for infos in app.session.flashbag.get('information') %}
	{% if loop.first %}
		resetNotif();
		alertify.alert("{{ infos|raw }}");	  
	{% endif %}
{% endfor %}


$('.souscription-cours-online').click(function(){
	{% if app.user == null %}
		$('#modal-infos-action-connexion').modal('show');
	{% else %}
		$('#modal-inscription-cours').modal('show');
	{% endif %}
});


$('.open-panel-chat-message').click(function(){

  openPanelMessage();

});

{% if mess > 0 %}
	openPanelMessage();
{% endif %}
});


function openPanelMessage()
{
	var height = ($(window).height() + $(window).scrollTop());
	var width = $(window).width() + 100;
	var scrolltop = $(window).scrollTop();
	$('.panel-result-action-elearning-user').show();
	$('.content-alert-action-elearning-user').show();
	$('.content-alert-action-elearning-user').html('<div style="position: fixed; top: 0px; margin-bottom: '+scrolltop+'px; left: 0px; z-index: 9000; width: '+width+'px; height: '+height+'px; background: rgba(0,0,0,0.5);"></div>');

	setTimeout(function(){ 
		$.post('{{ path('produit_service_post_message_produit_formateur', {'id': produit.id, 'type': 'cours','idmessage': mess}) }}', function(data){
		  if(data != 0)
		  {
			  $('.panel-result-action-elearning-user').hide();
			  $('.content-alert-action-elearning-user').hide();
			  
			  $('.content-article-tech').html(data);
			  $('aside').toggleClass('open');
		  }else{
			  resetNotif();
			  alertify.alert("Echec, Une erreur a été rencontrée lors de l\'enregistrement de la commande.");
			  $('.panel-result-action-elearning-user').hide();
			  $('.content-alert-action-elearning-user').hide();
		  }
		});
	}, 500);
}
{% endblock %}








{# 
<div class="container">
	<div class="row mt centered">
	{% for infos in app.session.flashbag.get('information') %}
		{% if loop.first %}
			<div class="col-lg-12 alert alert-warning text-left alert-dismissable" style="margin-bottom: 15px; border-radius: 0px;">{{ infos|raw }} <button type="button" class="close" data-dismiss="alert">&times;</button></div>
		{% endif %}
	{% else %}
		<div class="col-lg-12  alert-warning text-left" style="padding: 15px;  margin-bottom: 20px; border: 1px solid transparent; border-radius: 0px;"><span class="fa fa-info-circle"></span> Accédez à toutes les ressources de ce cours et obtenez un certificat reconnu par l'état. <a href="#!" class="souscription-cours-online"> Inscrivez-vous maintenant <span class="fa fa-angle-double-right"></span> </a> <span class="fa fa-check pull-right"></span></div>
	{% endfor %}
		<div class="col-lg-12" style="padding: 3px 7px;">
			<h1 style="background: #ECF0F1; display: block; text-align: left;"><span class="mdi-action-subject"></span> {{ produit.titre[:50] }}
			<div class="btn-group pull-right" style="margin-top: -10px; padding: 0px;">
			<a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer; padding: 0px; margin: 0px;"><i class="mdi-hardware-keyboard-arrow-down" style="padding: 0px; margin: 0px;"></i></a>
				<ul class="dropdown-menu pull-right" style="margin-top: 0px; border-radius: 0px;">
					{% if app.user == produit.user or is_granted('ROLE_GESTION') %}
					<li><a href="{{ path('produit_produit_modification_produit_controller', {'id': produit.id }) }}"><span class=" fa fa-pencil"></span> Modifier le cours</a></li>
					<li class="divider"></li>
					{% endif %}
					<li><a href="#!"><span class="fa fa-th"></span> Certificats Délivrés 120</a></li>
				</ul>
			</div>
			</h1>
		</div>
		<div class="col-lg-12" style="padding:0px 7px;">
		<div class="divider" style="margin-top: -12px;"></div>
		</div>
		<div class="col-lg-12" style="padding: 0px 7px;">
		<h1 style="background: #BDC3C7; display: block; text-align: left; margin-top: -12px;">
		<a href="#!" class="formats-cours" title="Format Description: accès libre et gratuit en ligne"><span class="mdi-av-my-library-books" style="margin: 3px;" title="Format autorisé"></span></a> 
		<a href="#!" class="formats-cours" title="Format Vidéos: accès gratuit ou payant en ligne"><span class="mdi-notification-voice-chat" title="Format autorisé" style="margin: 3px;"></span></a> 
		<a href="#!" class="formats-cours" title="Format E-book: accès gratuit ou payant en ligne"><span class="mdi-hardware-phone-android" title="Format autorisé" style="margin: 3px;"></span></a> 
		<a href="#!" class="formats-cours-ban"><span class="mdi-maps-local-library" title="Format Livre papier: non gérer." style="margin: 3px;"></span> </a>
		<a href="#!" class="formats-cours" title="Exercices et TP: accès gratuit ou payant en ligne"><span class="mdi-action-assignment-turned-in" title="Validation de la formation" style="margin: 3px;"></span></a>
		<a href="#!" class="formats-cours" title="Certificat: pris en charge pour ce cours"><span class="mdi-action-wallet-membership" title="Certificat" style="margin: 3px;"></span></a>
		
		
		<span class="pull-right" style="font-size: 15px; background: #f0ad4e; margin: 7px; color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); padding: 5px; border-radius: 5px;"><span class="mdi-image-iso" style="font-size: 14px;"></span> Note: {% if prodpan != null %}{{ produit.getNoteGeneralQCM(prodpan) }}/{{ bareme }}{% else %}0/{{ bareme }}{% endif %}</span>
		
		</h1>
		</div>
		<div class="col-lg-12" style="padding:0px 7px;">
		<div class="divider" style="margin-top: -7px;"></div>
		</div>
	</div><!-- /row -->
	
	<div class="row mt centered">
		<div id="monaccordeon" class="panel-group col-lg-4" style="padding: 0px 7px;">
		<div class="toutleblock">
		<div class="panel panel-default text-left" style="border-radius: 0px;">
		<div class="panel-heading">
		<h3 class="panel-title">
		<a class="accordion-toggle" href="#item0" data-parent="#monaccordeon" data-toggle="collapse" style="display: block;"><span class="mdi-content-report" style="font-size: 15px;"></span> À propos du cours <span class="mdi-hardware-keyboard-arrow-down pull-right"></span></a>
		</h3>
		</div>
		<div id="item0" class="panel-collapse collapse in">
		<div class="panel-body"> 
		<div>
		<ul style="padding: 0px;">
			<li>
				<a href="{{ path('produit_produit_detail_produit_market', {'id': produit.id }) }}" class="item-selected">
					<span class="fa fa-home"></span> Présentation générale
				</a>
			</li>
		</ul>
		</div>
		</div>
		</div>
		</div>
		
		{% for partie in liste_part %}
		{{ render(controller("ProduitProduitBundle:Partiecours:detailpartie", {'partie': partie.id, 'number': loop.index, 'addform': 0, 'codeadmin': codeadmin })) }}
		{% endfor %}

		{% if app.user == produit.user %}
		<a href="#!" class="btn btn-primary btn-lg btn-block add-new-part" style="margin-top: 15px; border-radius: 0px;"><em class="fa fa-plus" style="font-size: 20px;"></em> Ajoutez une nouvelle partie</a>
		{% endif %}
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 stop-courant-panel">
				
		</div>
		</div>
		
		{% for partie in liste_part %}
		{{ render(controller("ProduitProduitBundle:Partiecours:detailpartie", {'partie': partie.id, 'number': loop.index, 'addform': 1, 'codeadmin': codeadmin })) }}
		{% endfor %}
		
		</div>
		<div class="col-lg-8" style="padding: 0px 7px;">
		
		<div class="projekktor"  id="player_block_1" style="width: 100%; text-align: center;">
		</div>

		<div class="panel panel-default" style="margin-top: 15px; text-align: justify; padding: 7px; border-radius: 0px;">
		<div style="text-align: right; border-bottom: 2px solid #f0ad4e; margin-top: -30px; position: absolute; z-index: 5; top: 5px; right: -10px; width: 97%; margin-right: 20px;"><a href="{{ path('produit_produit_download_video_cours', {'id': produit.id }) }}" class="btn btn-warning" value="0" style="background: #f0ad4e; margin-bottom: 2px;" target="_blank"><span class="fa fa-download"></span> Téléchargez cette vidéo ({{ produit.videoproduit.nbtele }})</a></div>
		
		<div style="border-bottom: 1px solid #ddd;" class="text-primary"><strong><span class="mdi-communication-textsms"></span> {{ produit.titre }} <a href="#!" class="open-content pull-right" value="down" name="1"><span class="mdi-hardware-keyboard-arrow-down"></span></a></strong></div>
			<div class="content-panel-1">{{ produit.description|raw }}</div>
		</div>
		
		<div class="panel panel-default" style="margin-top: 15px; text-align: justify; padding: 7px; border-radius: 0px;">
		<div style="border-bottom: 1px solid #ddd;" class="text-info"><strong><span class="mdi-action-question-answer"></span> Objectifs de ce cours <a href="#!" class="open-content pull-right" value="down" name="2"><span class="mdi-hardware-keyboard-arrow-down"></span></a></strong></div>
			<div class="content-panel-2">{{ produit.objectif|raw }}</div>
		</div>
		
		<div class="panel panel-default" style="margin-top: 15px; text-align: justify; padding: 7px; border-radius: 0px;">
		<div style="border-bottom: 1px solid #ddd;" class="text-warning"><strong><span class="mdi-action-announcement"></span> Pré-requis <a href="#!" class="open-content pull-right" value="down" name="3"><span class="mdi-hardware-keyboard-arrow-down"></span></a></strong></div>
			<div class="content-panel-3">{{ produit.prerequis|raw }}</div>
		</div>

		</div>
		
		<script type="text/javascript">
		$(document).ready(function(){
			projekktor('#player_block_1', {
			poster: '{% if produit.imgproduit != null %} {{ asset(produit.imgproduit.getwebpath) }} {% else %}{{ asset('template/player/media/intro.png') }}{% endif %}',
			title: 'this is projekktor',
			playerFlashMP4: '{{ asset('template/player/swf/StrobeMediaPlayback/StrobeMediaPlayback.swf') }}',
			playerFlashMP3: '{{ asset('template/player/swf/StrobeMediaPlayback/StrobeMediaPlayback.swf') }}',
			width: '100%',
			height: 385,
			playlist: [
				{
				0: {src: "{% if produit.videoproduit != null %}{{ asset(produit.videoproduit.getwebpath) }} {% else %}{{ asset('template/player/media/intro.mp4') }}{% endif %}", type: "video/mp4"},
				}
			]    
			}, function(player) {} // on ready 
			);
			
			$('.open-content').click(function(){
				$('.content-panel-'+$(this).attr('name')).toggle('slow');
				if($(this).attr('value') == 'down')
				{
					$(this).attr('value','up');
					$('.open-content[name='+$(this).attr('name')+']').html('<span class="mdi-hardware-keyboard-arrow-right"></span>');
				}else{
					$(this).attr('value','down');
					$('.open-content[name='+$(this).attr('name')+']').html('<span class="mdi-hardware-keyboard-arrow-down"></span>');
				}
			});
		});
		</script>
	</div><!-- /row -->
</div><!-- /container -->

<hr>




<div class="modal fade modal-alter" id="modal-inscription-cours" style="margin-top: 100px;">
	<div class="modal-dialog modal-md">
	<div class="modal-content" style="border-radius: 0px;">
	<div class="modal-header" style="position: absolute; z-index: 3; width: 100%; padding: 2px 0px; box-shadow: 0 15px 15px -1px #f2f2f2 inset;background: #fff;">
	<div style="box-shadow: 0px 6px 6px #CCC; margin: 0px;">
	<button type="button" class="close" data-dismiss="modal" style="padding: 7px;">&times;</button>
	<h4 class="modal-title text-left" style="padding: 7px;"><span class="fa fa-plus-square"></span> Inscrivez-vous pour suivre ce cours</h4>
	</div>
	</div>
	<hr style="margin-top: 38px; margin-bottom: 0px;"/>
	<div  style="background: rgba(83, 101, 240, 1); height: 10px;">
	</div>
	<div style="background: #BDC3C7;">
		<div class="text-left" style="color: #fff; padding-left: 15px;">
		   <span class="fa fa-angle-double-right"></span> {{ produit.name(50) }}</a>
		</div>	
	</div>	
	<hr style="margin-bottom: 0px;"/>

	<div class="modal-body" style="background: #fff; color: #333;">
	<div style="background: #ECF0F1; padding: 15px;">
	<div class="col-sm-12" style="padding: 0px;">
	<div class="compose-left text-left" style="margin-bottom: 7px; margin-left: -30px; margin-right: 10px;">
	<div class="chat-grid widget-shadow">
		<ul>
			<li class="item-menu-right open-element" style="display: block; width: 100%; margin-top: 15px; border-bottom: 1Px solid #ddd; border-top: 1Px solid #ddd;">
				<div class="chat-left pull-left" style="width: 80px; padding-right: 10px;">
					<img src="{% if produit.imgproduit != null %} {{ asset(produit.imgproduit.getwebpath) }} {% else %}{{ asset('template/player/media/intro.png') }}{% endif %}" alt="article aimé" style="width: 70px; height:70px; border-radius: 5px; margin-top: 10px; margin-bottom: 10px;"/>
				</div>
				<div class="chat-right">
					<p style="margin: 0px;"><strong><span class="fa fa-chevron-right"></span> {{ produit.name(60) }}</strong></p>
					<p style="margin: 0px;" class="type-de-formation"><span class="fa fa-chevron-right"></span> Prix officiel pour accéder à toutes les ressources du cours</p>
					<p style="margin: 0px; text-align: right;">Montant :: <i class="badge montant-formation">{{ produit.newprise }} {{ devise }}</i> ::</p>
				</div>
			<div class="clearfix"> </div>
			</li>
		</ul>
	</div>
	</div>
	<div class="clearfix"></div>
	</div>
	<div class="col-sm-12" style="padding: 8px;">
	<form action="{{ path('produit_produit_ajouter_product_panier', {'id': produit.id }) }}" method="post" style="margin-top: 15px;">
	<div class="form-group">
		<input type="password" placeholder="Rentrez votre mot de passe" id="password" name="_password" required class="form-control" style="margin-top: 15px; width: 100%; border-radius: 0px;">
		<input type="hidden" placeholder="Rentrez votre mot de passe" id="typedeformation" name="_typedeformation" required class="input-type-deformation" style="margin-top: 15px; width: 100%; border-radius: 0px;">
	</div>
	<div style="margin-top: 15px;">
		<button type="submit" class="btn btn-warning btn-lg btn-block" style="border-radius: 0px;">Confirmez le payement avec votre compte {{ site }} </button>
	</div>
	</form>
	</div>
	
	<div class="clearfix"></div>
	</div>
	</div>

	<hr style="margin-bottom: 15px;"/>
	<div class="modal-footer" style="text-align: right; padding: 7px; background: #222222; color: #fff;">
	<span class="pull-left">&copy; {{ site }}</span>
	{% include 'GeneralTemplateBundle:Menu:social.html.twig' %}
	</div>

	</div>
	</div>
	</div>

<script src="{{ asset('template/assets/js/onvisible.js') }}" type="text/javascript"></script>
<!-- /pricing section -->

{% endblock %}

{% block javascripttemplate %}
maxchamp1 = 70;
minchamp1 = 3;
var maxchamp2 = 160;
var minchamp2 = 0;
var extensionsImgValides= new Array({{ imagesite|raw }});
var maximgsize = 1500000;

$('.add-new-part').click(function(){
	$('#infos-action-new-part').modal('show');
});

$("#add_new_part_course").on("submit", function(){
if($('.titre_partie_course_add').val().length < minchamp1 || $('.titre_partie_course_add').val().length > maxchamp1){
$("div.champ10").addClass("has-error");
$("div.alertnotif10").show("slow").delay(6000).hide("slow");
$('.control-info-champ10').html($('.titre_partie_course_add').val().length+'/'+maxchamp1);
$('.titre_partie_course_add').focus();
return false;
}
if(!is_int($('.number_partie_course_add').val()) || $('.number_partie_course_add').val() < 0){
$("div.champ11").addClass("has-error");
$("div.alertnotif11").show("slow").delay(6000).hide("slow");
$('.control-info-champ11').html('Not Int');
$('.number_partie_course_add').focus();
return false;
}
});

function is_int(value){
  if((parseFloat(value) == parseInt(value)) && !isNaN(value)){ 
      return true;
  } else {
      return false;
  }
}
				
var bouge = 1;
var dimension = 200;
function activateelement()
{
var visibility = visibleElement('.animecourant-panel');

if(visibility && bouge == 0){
	bouge = 1;
	$('.toutleblock').css('position','relative');
	$('.toutleblock').css('bottom','0px');
	$('.toutleblock').css('margin-bottom','0px');
}
}

function stopelement()
{
var visibility = visibleElement('.stop-courant-panel');
if(visibility && bouge == 1){
	if(visibleElement('.animecourant-panel') && visibleElement('.stop-courant-panel'))
	{
	
	}else{
	bouge = 0;
	$('.toutleblock').css('position','fixed');
	$('.toutleblock').css('width',dimension+'px');
	
	$('.toutleblock').css('bottom','7px');
	$('.toutleblock').css('margin-bottom','50px');
	}
}
}

var idStopelement = 0;
var idActivateelement = 0;
function controlScroll()
{
	var largeur = ($(window).width());
	dimension = $('.toutleblock').width();
	if (largeur >= 768)
	{
	   /*
		if(visibleElement('.animecourant-panel') && visibleElement('.stop-courant-panel'))
		{
			$('.toutleblock').css('position','fixed');
			$('.toutleblock').css('width',dimension+'px'); 
		}else{ 
			idStopelement = window.setInterval(function() { stopelement(); }, 100);
			idActivateelement = window.setInterval(function() { activateelement(); }, 100);
		}*/
		idStopelement = window.setInterval(function() { stopelement(); }, 100);
		idActivateelement = window.setInterval(function() { activateelement(); }, 100);
	}
}
controlScroll();

$('.souscription-cours-online').click(function(){
	{% if app.user == null %}
		$('#modal-infos-action-connexion').modal('show');
	{% else %}
		$('#modal-inscription-cours').modal('show');
	{% endif %}
});

{% endblock %}


#}