
<a href="{{ path('produit_produit_detail_produit_market', {'id': produit.id }) }}" class="card-cours" style="display: block; text-decoration: none; margin-left: -1px;">

<div class="image-cours">
  <img src="{% if produit.imgproduit != null %}{{ asset(produit.imgproduit.getwebpath) }}{% else %}{{ asset('template/images/present.png') }}{% endif %}" style="min-height: 350px;"/>
  <div class="pricing-formation"><strong>{{ produit.newprise }} {{ devise|raw }}</strong> - <span style="text-decoration: line-through; color: #ddd;">{{ produit.ancienPrixProduit }} {{ devise|raw }}</span></div>
  <div style="height: 80px; background: #fff; position: absolute; z-index: 2; width: 100%; bottom: 0px; padding: 3px 7px;">
	<h2 style="font-size: 18px; margin-top: 15px;"><strong>{{ produit.name(40) }}</strong> <span class="fa fa-bookmark pull-right"></span></h2>
	<span>{{ produit.souscategorie.nom }}</span>
	
  </div>
</div>

<div class="details">
  <div class="center text-left" style="width: 100%;">
	<div style="text-align: left!important;">
		
		<img src="{% if produit.user.imgprofil != null %}{{ asset(produit.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}" alt="" style="height: 30px; width: 30px; float: left; margin-right: 7px; border-radius: 7px;"/>
		<strong style="display: block;">{{ produit.user.name(25) }}</strong>
		<div style="display: block;">Formateur </div>
		
	</div>
	<p>{{ produit.description|raw }}</p>
	<ul>
	  
	</ul>
  </div>
</div>

</a>

{#
<div class="photoday card">
	<div class="card-image waves-effect waves-block waves-light">
	<img src="{% if produit.imgproduit != null %} {{ asset(produit.imgproduit.getwebpath) }} {% else %}{{ asset('template/player/media/intro.png') }}{% endif %}" class="img-responsive activator" alt="" style="height: 200px;"/>
	</div>
	<div class="photo-text">
		<p style="margin: 0px; padding: 0px;"><a href="{{ path('produit_produit_detail_produit_market', {'id': produit.id }) }}">{{ produit.name(35) }}</a> </p>
		<p style="margin: 0px; padding: 0px;"><a href="{{ path('users_user_user_accueil', {'id': produit.user.id }) }}" style="cursor: pointer; color: #333;"><img src="{% if produit.user.imgprofil != null %}{{ asset(produit.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}" alt="{{ produit.user.name(30) }}" class="img-thumbnail" style="width: 20px; height:20px; border-radius: 10px; margin-top: -5px;"/> {{ produit.user.name(30) }} </a></p>
	</div>
	
	<div class="photo1">
		<div class="col-md-4 phot-grid" style="padding-bottom: 3px; padding-top: 3px; margin-left: -2px;">
			<p style="margin: 0px;"><a href="#!" title="Ont Suivit ce cours"><i class="mdi-action-visibility"></i> {{ produit.nblike }}</a></p>
		</div>
		<div class="col-md-4 phot-grid" style="padding-bottom: 3px; padding-top: 3px;">
			<p style="margin: 0px;"><a href="#!" title="Ont obtenu leur certificat"><i class="mdi-action-wallet-membership"></i> {{ produit.nbcertificat }} </a></p>
		</div>
		
		<div class="col-md-4 phot-grid" style="padding-bottom: 3px; padding-top: 3px; margin-bottom: -20px; border:none;">
			{% if produit.user != app.user %}
			<p style="margin: 0px;">
			
			<div class="btn-group dropup" style="margin-bottom: -20px; margin-top: -10px;">
			<a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;" title=""><i class="mdi-communication-message"></i> 5</a>
				<ul class="dropdown-menu pull-right text-left" style="margin-top: 0px; border-radius: 0px; padding-top: 0px;">
					<li style="background: #428bca; padding: 5px; color: #fff; margin: 0px;"><a href="#!" style="color: #fff;"><span class="mdi-communication-message" style="font-size: 15px;"></span> Formats disponibles</a></li>
					<li class="divider" style="margin-top: 0px;"></li>
					<li><a href="#!"><span class="mdi-av-my-library-books" style="font-size: 15px;"></span> Présentation du cours</a></li>
					<li><a href="#!"><span class="mdi-notification-voice-chat" style="font-size: 15px;"></span> Format vidéo</a></li>
					<li><a href="#!"><span class="mdi-hardware-phone-android" style="font-size: 15px;"></span> Format E-book</a></li>
					<li><a href="#!"><span class="mdi-action-assignment-turned-in" style="font-size: 15px;"></span> Exercice et TP</a></li>
					<li><a href="#!"><span class="mdi-action-wallet-membership" style="font-size: 15px;"></span> Certificat de formation</a></li>
				</ul>
			</div>
			</p> <!-- Type  des contenu disponible -->
			{% else %}
				<p style="margin: 0px;">
					<a href="{{ path('produit_produit_modification_produit_controller', {'id': produit.id }) }}"><i class="mdi-content-create"></i> Modifier </a>
				</p>
			{% endif %}
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> <a href="{{ path('produit_produit_detail_produit_market', {'id': produit.id }) }}">{{ produit.name(50) }} <span class=" fa fa-angle-double-right"></span></a></span>
		<p>{{ produit.objectif[:150]|raw }} </p>
	</div>
</div>
#}