<div class="card profile-card-5 popop-{{ produit.id }}" data-popover-content="#unique-id-{{ produit.id }}" data-toggle="popover" data-placement="right">
	<div class="card-img-block">
		<img class="card-img-top" src="{% if produit.imgproduit != null %}{{ asset(produit.imgproduit.getwebpath) }}{% else %}{{ asset('template/images/present.png') }}{% endif %}" alt="Card image cap">
	</div>
	<div class="card-body pt-0">
	<h5 class="card-title">{{ produit.name(40) }}</h5>

	<div style="width: 100%; font-size: 9px;">
		<div style="color: #6a6f73;">{{ produit.user.name(25) }} | {% if produit.user.diplome != null %} {{ produit.user.diplome }}{% else %}Formateur Az{% endif %}</div>
	</div>

	<div class="text-left">
		<strong>4,7</strong>
		<div class="star-ratings-css" style="margin-left: 0px; display: inline-block;">
			<div class="star-ratings-css-top" style="width: 82%;  white-space: nowrap;"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
			<div class="star-ratings-css-bottom" style="white-space: nowrap;"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
		</div>
	</div>
	
	<p class="card-text">
		<strong style="font-size: 18px; color: #7a818d;">Montant</strong> <br>
		<strong>{{ produit.newprise|numberFormat }} {{ devise|raw }}</strong> - <span style="text-decoration: line-through; color: #ddd;">{{ produit.ancienPrixProduit|numberFormat }} {{ devise|raw }}</span>
	</p>
	<a href="{{ path('produit_produit_detail_produit_market', {'id': produit.id }) }}" class="btn btn-primary">Suivre</a>
	</div>

	<div id="unique-id-{{ produit.id }}" style="display:none;">
	<div class="popover-body">
		<!--button type="button" class="popover-close close">
		<i class="fa fa-times"></i>
		</button -->
		<h5 class="card-title">
			<a href="{{ path('produit_produit_detail_produit_market', {'id': produit.id }) }}">{{ produit.name(40) }}</a>
		</h5>
		<a href="#!" class="text-left" style="display: block; text-decoration: none; color: #333;">
			<strong>4,7</strong>
			<div class="star-ratings-css" style="margin-left: 0px; display: inline-block;">
				<div class="star-ratings-css-top" style="width: 82%;  white-space: nowrap;"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
				<div class="star-ratings-css-bottom" style="white-space: nowrap;"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
			</div>
			<strong> (1 614 notes)</strong> <span>6 692 participants</span>
		</a>
		<div style="margin-top: 20px;">
			Crée par <a href="{{ path('users_user_user_accueil', {'id': produit.id }) }}"style="text-decoration: underline; color: #333;">{{ produit.user.name(50) }}</a>, Formateur AZ
		</div>
		<div>
			Dernière mise à jour {{ produit.date|date('d') }}/{{ produit.date|date('m') }}/{{ produit.date|date('Y') }}; Langue: <span class="fa fa-globe"></span> Français
		</div>

		<div>
			<strong>Sommaire</strong>
			<ul class="custom green">
				{% for partie in produit.getAllPartiesCours %}
					<li> {{ partie.titre }} </li>
				{% endfor %}
			</ul>
		</div>
		
		<div>
			<strong>Ressource</strong>

			<ul class="list-group list-group-flush">
			<li class="list-group-item">
				Nombre de partie <span class="badge badge-default">15</span>
			</li>
			<li class="list-group-item">
				Nombre de TP <span class="badge badge-default">0</span>
			</li>
			<li class="list-group-item">
				Supports de cours <span class="badge badge-default">0</span>
			</li>
			<li class="list-group-item">
				Exercices <span class="badge badge-default">0</span>
			</li>
			<li class="list-group-item">
				QCM <span class="badge badge-default">15</span>
			</li>
		</ul>
		<div style="margin-top: 15px;">
			<a href="{{ path('produit_produit_detail_produit_market', {'id': produit.id }) }}" class="btn btn-primary btn-block">
				En savoir plus
				<span class="fa fa-angle-right"></span>
			</a>
		</div>
		</div>
	</div>
	</div>
</div>

<script type="text/javascript">
$("[data-toggle=popover]").popover({
	html : true,
	trigger: "manuel",
	placement: 'auto',
	animation: false,
	content: function() {
		var content = $(this).attr("data-popover-content");
		return $(content).children(".popover-body").html();
	}
}).on("mouseenter", function(){
	var _this = this;
	$(this).popover("show");
	$(".popover").on("mouseleave", function() {
	$(_this).popover('hide');
	});
}).on("mouseleave", function(){
	var _this = this;
	setTimeout(function() {
	if (!$(".popover:hover").length) {
		$(_this).popover("hide");
	}
	}, 100);
});
</script>