{% extends "Theme/Users/User/layouthome.html.twig" %}

{% block meta %}

	{{ parent() }}
	<meta name="keywords" content="{{ site }}, formateurs, enseignants, éducateurs, travaux pratiques, exercices corrigés, formations"/>
	<meta name="author" content="Noel Kenfack"/>
	<meta name="description" content="{{ site }} - {{ metier }} - liste des formateurs {{ site }}."/>
	
{% endblock %}

{% block title %}
	{{ parent() }} - Liste des Formateurs {{ site }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}


    <style>
        :root {
        --color-black: #000;
        --color-white: #fff;
        --color-gray-100: #e6e6e6;
        --color-gray-200: #b1b8c9;
        --color-gray-300: #656c7c;
        --color-primary-100: #b3cdff;
        --color-primary-200: #1769ff;
        --color-secondary-100: #ffecf0;
        --color-secondary-200: #ea4c89;
        --color-accent: #fdb72e;
        --content-p-block: 4rem;
        --content-p-inline: 1rem;
        --content-max-width: calc(70.5rem + calc(var(--content-p-inline) * 2));
        --font-family: Inter, sans-serif;
        --font-color: var(--color-gray-300);
        --line-height: 1.5;
        --body-bg-color: var(--color-white);
        --text-base: 1rem;
        --text-md: 1.5rem;
        --text-lg: 2rem;
        --rounded-sm: 0.5rem;
        --rounded-lg: 1rem;
        --rounded-full: 9999px;
        --transition-fast: 100ms ease-in-out;
        --border-sm: 0.125rem;
        --shadow-md: 0px 0.875rem 1.875rem rgba(204, 204, 204, 0.32);
      }
      
      .section {
        padding-block: var(--content-p-block);
      }
      .section__header {
        margin-bottom: 4.5rem;
        text-align: center;
        line-height: 1.2;
      }
      .section__title {
        margin: 0 0 1rem 0;
        font-size: var(--text-lg);
        color: var(--color-black);
      }
      
      .row2 {
        display: flex;
        justify-content: center;
        -moz-column-gap: 1.5rem;
             column-gap: 1.5rem;
      }
      .row--wrap {
        flex-wrap: wrap;
        row-gap: 2rem;
      }
      
    
      .icon--white {
        fill: var(--color-white);
      }
      
      
      
      .pricing-card {
        --c-emphasized-color: var(--color-black);
        --c-dim-color: var(--color-gray-300);
        --c-bg-color: var(--color-white);
        --c-bullet-color: var(--color-secondary-200);
        --c-feature-disabled-color: var(--color-gray-200);
        --c-description-opacity: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 43rem;
        border-radius: var(--rounded-lg);
        padding: 2rem 1.5rem;
        color: var(--c-dim-color);
        background-color: var(--c-bg-color);
      }
      .pricing-card--primary {
        --c-emphasized-color: var(--color-white);
        --c-dim-color: var(--color-white);
        --c-bg-color: var(--color-primary-200);
        --c-bullet-color: var(--color-white);
        --c-feature-disabled-color: var(--color-primary-100);
        --c-description-opacity: 0.8;
      }
      .pricing-card--primary ::-moz-selection {
        color: var(--color-primary-200);
        background-color: var(--color-white);
      }
      .pricing-card--primary ::selection {
        color: var(--color-primary-200);
        background-color: var(--color-white);
      }
      .pricing-card--outline {
        border: 1px solid var(--color-gray-100);
      }
      .pricing-card--shadow {
        box-shadow: var(--shadow-md);
      }
      .pricing-card--best {
        order: -1;
      }
      @media only screen and (min-width: 50.5em) {
        .pricing-card--best {
          order: 0;
        }
      }
      .pricing-card__head {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .pricing-card__tier {
        margin: 0;
        margin-right: auto;
        font-size: var(--text-md);
        font-weight: 400;
        color: var(--c-emphasized-color);
      }
      .pricing-card__tag {
        border-radius: var(--rounded-full);
        padding: 0.625rem 1.125rem;
        font-weight: 600;
        color: var(--color-white);
        background-color: var(--color-accent);
      }
      .pricing-card__description {
        margin: 0;
        margin-top: 1.625rem;
        opacity: var(--c-description-opacity);
      }
      .pricing-card__pricing-line {
        display: flex;
        align-items: center;
        gap: 0.56rem;
        margin: 0;
      }
      .pricing-card__price {
        font-size: var(--text-lg);
        font-weight: 600;
        color: var(--c-emphasized-color);
      }
      .pricing-card__features {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0;
        padding: 0;
        list-style: none;
        font-weight: 500;
        color: var(--c-emphasized-color);
      }
      .pricing-card__feature {
        display: flex;
        align-items: center;
        gap: 1rem;
        fill: var(--c-bullet-color);
      }
      .pricing-card__feature--disabled {
        color: var(--c-feature-disabled-color);
        fill: var(--c-feature-disabled-color);
      }
      .pricing-card__bullet {
        width: 1.5rem;
        height: 1.5rem;
        fill: inherit;
      }
      .pricing-card__action {
        margin-top: auto;
      }
    </style>

{% endblock %}

{% block userblog_body %}
	
	<div class="container" style="min-height: 10px;">	
	<div class="row">	
	<div class="col-md-12 text-left">
		<div aria-label="breadcrumb">
			<button type="button" class="btn btn-outline-secondary breadcrumb-toggle" data-toggle="collapse" data-target="#nav" aria-expanded="false" aria-controls="nav">
				Allez à
				<i class="fa fa-caret-down"></i>
			</button>
			
			{% include "Theme/General/Template/Menu/contacts.html.twig" %}
			
			<ol id="nav" class="breadcrumb collapse" style="background: #fff;">
				<li class="breadcrumb-item"><a href=""><span class="fa fa-home"></span> Accueil </a></li>
				<li class="breadcrumb-item" data-toggle="tooltip" data-trigger="manual"><a href="#!">packs promo.</a></li>
			</ol>
		</div>
	</div>
	</div>
	</div>
	
	<div class="container">	

	 <div class="row">

        <div class="col-md-12">
            <div style="min-height: 500px;">

                <article class="section">
                    <header class="section__header">
                      <h2 class="section__title">Simple, accédez à tous nos contenus sans limitation</h2>
                      <p class="section__subtitle">Pour chaque cours, un formateur vous accompagne individuellement</p>
                    </header>

                
                
                    <!-- Pricing Cards -->
                    <section class="row row--wrap">
                        {% for produit in liste_produit %}
                        <div class="col-md-4">
                        <!-- Card #1: Free -->
                        <section class="pricing-card {% if loop.index < 3 %}pricing-card--outline{% else %}pricing-card--primary{% endif %}">
                        <div class="pricing-card__summary">
                          <div class="pricing-card__head">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="height: 50px;">
                              <path d="M28.75 35H11.25C9.59301 34.998 8.00445 34.3389 6.83277 33.1672C5.6611 31.9956 5.00198 30.407 5 28.75L5 11.25C5.00198 9.59301 5.6611 8.00445 6.83277 6.83277C8.00445 5.6611 9.59301 5.00198 11.25 5L28.75 5C30.407 5.00198 31.9956 5.6611 33.1672 6.83277C34.3389 8.00445 34.998 9.59301 35 11.25V28.75C34.998 30.407 34.3389 31.9956 33.1672 33.1672C31.9956 34.3389 30.407 34.998 28.75 35ZM11.25 7.5C10.2554 7.5 9.30161 7.89509 8.59835 8.59835C7.89509 9.30161 7.5 10.2554 7.5 11.25V28.75C7.5 29.7446 7.89509 30.6984 8.59835 31.4017C9.30161 32.1049 10.2554 32.5 11.25 32.5H28.75C29.7446 32.5 30.6984 32.1049 31.4017 31.4017C32.1049 30.6984 32.5 29.7446 32.5 28.75V11.25C32.5 10.2554 32.1049 9.30161 31.4017 8.59835C30.6984 7.89509 29.7446 7.5 28.75 7.5H11.25ZM18.75 20C18.75 20.2472 18.8233 20.4889 18.9607 20.6945C19.098 20.9 19.2932 21.0602 19.5216 21.1549C19.7501 21.2495 20.0014 21.2742 20.2439 21.226C20.4863 21.1777 20.7091 21.0587 20.8839 20.8839C21.0587 20.7091 21.1777 20.4863 21.226 20.2439C21.2742 20.0014 21.2495 19.7501 21.1549 19.5216C21.0602 19.2932 20.9 19.098 20.6945 18.9607C20.4889 18.8233 20.2472 18.75 20 18.75C19.6685 18.75 19.3505 18.8817 19.1161 19.1161C18.8817 19.3505 18.75 19.6685 18.75 20ZM12.5 13.75C12.5 13.9972 12.5733 14.2389 12.7107 14.4445C12.848 14.65 13.0432 14.8102 13.2716 14.9049C13.5001 14.9995 13.7514 15.0242 13.9939 14.976C14.2363 14.9278 14.4591 14.8087 14.6339 14.6339C14.8087 14.4591 14.9278 14.2363 14.976 13.9939C15.0242 13.7514 14.9995 13.5001 14.9049 13.2716C14.8102 13.0432 14.65 12.848 14.4445 12.7107C14.2389 12.5733 13.9972 12.5 13.75 12.5C13.4185 12.5 13.1005 12.6317 12.8661 12.8661C12.6317 13.1005 12.5 13.4185 12.5 13.75ZM25 13.75C25 13.9972 25.0733 14.2389 25.2107 14.4445C25.348 14.65 25.5432 14.8102 25.7716 14.9049C26.0001 14.9995 26.2514 15.0242 26.4939 14.976C26.7363 14.9278 26.9591 14.8087 27.1339 14.6339C27.3087 14.4591 27.4277 14.2363 27.476 13.9939C27.5242 13.7514 27.4995 13.5001 27.4049 13.2716C27.3102 13.0432 27.15 12.848 26.9445 12.7107C26.7389 12.5733 26.4972 12.5 26.25 12.5C25.9185 12.5 25.6005 12.6317 25.3661 12.8661C25.1317 13.1005 25 13.4185 25 13.75ZM12.5 26.25C12.5 26.4972 12.5733 26.7389 12.7107 26.9445C12.848 27.15 13.0432 27.3102 13.2716 27.4049C13.5001 27.4995 13.7514 27.5242 13.9939 27.476C14.2363 27.4277 14.4591 27.3087 14.6339 27.1339C14.8087 26.9591 14.9278 26.7363 14.976 26.4939C15.0242 26.2514 14.9995 26.0001 14.9049 25.7716C14.8102 25.5432 14.65 25.348 14.4445 25.2107C14.2389 25.0733 13.9972 25 13.75 25C13.4185 25 13.1005 25.1317 12.8661 25.3661C12.6317 25.6005 12.5 25.9185 12.5 26.25ZM25 26.25C25 26.4972 25.0733 26.7389 25.2107 26.9445C25.348 27.15 25.5432 27.3102 25.7716 27.4049C26.0001 27.4995 26.2514 27.5242 26.4939 27.476C26.7363 27.4277 26.9591 27.3087 27.1339 27.1339C27.3087 26.9591 27.4277 26.7363 27.476 26.4939C27.5242 26.2514 27.4995 26.0001 27.4049 25.7716C27.3102 25.5432 27.15 25.348 26.9445 25.2107C26.7389 25.0733 26.4972 25 26.25 25C25.9185 25 25.6005 25.1317 25.3661 25.3661C25.1317 25.6005 25 25.9185 25 26.25Z" />
                            </svg>
                
                            <h3 class="pricing-card__tier" style="white-space: nowrap;">{{ produit.nom }}</h3>
                          </div>
                
                          <p class="pricing-card__description">
                            {{ produit.contenu }}
                          </p>
                        </div>
                
                        <p class="pricing-card__pricing-line">
                          <span class="pricing-card__price">{{ devise }} {{ produit.newprise }}</span>
                          <span>/ {{ produit.rapport }}</span>
                        </p>
                
                        <ul class="pricing-card__features">

                            {% set list_caract = produit.getListeCaracteristiqueProduit() %}
                            {% for caract in list_caract %}
                            <li class="pricing-card__feature">

                                {% if caract.isChecked == false %}
                                <svg class="pricing-card__bullet" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path d="M9.00001 16.17L5.53001 12.7C5.14002 12.31 4.51001 12.31 4.12001 12.7C3.73001 13.09 3.73001 13.72 4.12001 14.11L8.30001 18.29C8.69001 18.68 9.32001 18.68 9.71001 18.29L20.29 7.71C20.68 7.32 20.68 6.69 20.29 6.3C19.9 5.91 19.27 5.91 18.88 6.3L9.00001 16.17Z" />
                                </svg>
                                {% else %}
                                <svg class="pricing-card__bullet" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.3 5.71C17.91 5.32 17.28 5.32 16.89 5.71L12 10.59L7.10997 5.7C6.71997 5.31 6.08997 5.31 5.69997 5.7C5.30997 6.09 5.30997 6.72 5.69997 7.11L10.59 12L5.69997 16.89C5.30997 17.28 5.30997 17.91 5.69997 18.3C6.08997 18.69 6.71997 18.69 7.10997 18.3L12 13.41L16.89 18.3C17.28 18.69 17.91 18.69 18.3 18.3C18.69 17.91 18.69 17.28 18.3 16.89L13.41 12L18.3 7.11C18.68 6.73 18.68 6.09 18.3 5.71Z" />
                                </svg>
                                {% endif %}
                                {% if caract.isChecked == false %} <span>{{ caract.caracteristique.nom }}</span>{% else %} <span>{{ caract.caracteristique.nom }}</span>{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        
                        {% if app.user != null %}
                        <button class="btn btn-primary pricing-card__action pricing-button-souscription" value="{% if produit.newprise == 0 %}promo{% else %}premium{% endif %}">Souscrire maintenant</button>
                        {% else %}
                        <a href="{% if produit.newprise == 0 %}{{ path('login', {'pack': 'promo'}) }}{% else %}{{ path('login', {'pack': 'premium'}) }}{% endif %}" class="btn btn-primary pricing-card__action">Get Started</a>
                        {% endif %}
                      </section>
                      </div>
                    {% endfor %}

                      <!-- Card #3: Enterprise -->
                      <div class="col-md-4">
                        <section class="pricing-card pricing-card--primary">
                            <div class="pricing-card__summary">
                              <div class="pricing-card__head">
                                <svg class="icon icon--white" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="height: 50px;">
                                  <path d="M28.75 5H11.25C9.59301 5.00198 8.00445 5.6611 6.83277 6.83277C5.6611 8.00445 5.00198 9.59301 5 11.25L5 28.75C5.00198 30.407 5.6611 31.9956 6.83277 33.1672C8.00445 34.3389 9.59301 34.998 11.25 35H28.75C30.407 34.998 31.9956 34.3389 33.1672 33.1672C34.3389 31.9956 34.998 30.407 35 28.75V11.25C34.998 9.59301 34.3389 8.00445 33.1672 6.83277C31.9956 5.6611 30.407 5.00198 28.75 5V5ZM25 18.75H21.25V15H25V18.75ZM27.5 15H32.5V18.75H27.5V15ZM21.25 12.5V7.5H25V12.5H21.25ZM18.75 12.5H15V7.5H18.75V12.5ZM18.75 15V18.75H15V15H18.75ZM12.5 18.75H7.5V15H12.5V18.75ZM7.5 21.25H12.5V25H7.5V21.25ZM15 21.25H18.75V25H15V21.25ZM18.75 27.5V32.5H15V27.5H18.75ZM21.25 27.5H25V32.5H21.25V27.5ZM21.25 25V21.25H25V25H21.25ZM27.5 21.25H32.5V25H27.5V21.25ZM32.5 11.25V12.5H27.5V7.5H28.75C29.7446 7.5 30.6984 7.89509 31.4017 8.59835C32.1049 9.30161 32.5 10.2554 32.5 11.25ZM11.25 7.5H12.5V12.5H7.5V11.25C7.5 10.2554 7.89509 9.30161 8.59835 8.59835C9.30161 7.89509 10.2554 7.5 11.25 7.5ZM7.5 28.75V27.5H12.5V32.5H11.25C10.2554 32.5 9.30161 32.1049 8.59835 31.4017C7.89509 30.6984 7.5 29.7446 7.5 28.75ZM28.75 32.5H27.5V27.5H32.5V28.75C32.5 29.7446 32.1049 30.6984 31.4017 31.4017C30.6984 32.1049 29.7446 32.5 28.75 32.5Z" />
                                </svg>
                    
                                <h3 class="pricing-card__tier">Enterprise</h3>
                              </div>
                    
                              <p class="pricing-card__description">
                                Obtenez un accompagnement sur mesure pour la formation de vos équipes
                              </p>
                            </div>
                    
                            <p class="pricing-card__pricing-line">
                              <span class="pricing-card__price">Formation pratiques sur site</span>
                            </p>
                    
                            <ul class="pricing-card__features">
                              <li class="pricing-card__feature">
                                <svg class="pricing-card__bullet" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                  <path d="M9.00001 16.17L5.53001 12.7C5.14002 12.31 4.51001 12.31 4.12001 12.7C3.73001 13.09 3.73001 13.72 4.12001 14.11L8.30001 18.29C8.69001 18.68 9.32001 18.68 9.71001 18.29L20.29 7.71C20.68 7.32 20.68 6.69 20.29 6.3C19.9 5.91 19.27 5.91 18.88 6.3L9.00001 16.17Z" />
                                </svg>
                                <span>Cours et exercices accessibles 24h/7</span>
                              </li>
                              <li class="pricing-card__feature">
                                <svg class="pricing-card__bullet" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                  <path d="M9.00001 16.17L5.53001 12.7C5.14002 12.31 4.51001 12.31 4.12001 12.7C3.73001 13.09 3.73001 13.72 4.12001 14.11L8.30001 18.29C8.69001 18.68 9.32001 18.68 9.71001 18.29L20.29 7.71C20.68 7.32 20.68 6.69 20.29 6.3C19.9 5.91 19.27 5.91 18.88 6.3L9.00001 16.17Z" />
                                </svg>
                                <span>Tarifs défiant toute concurrence</span>
                              </li>
                              <li class="pricing-card__feature">
                                <svg class="pricing-card__bullet" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                  <path d="M9.00001 16.17L5.53001 12.7C5.14002 12.31 4.51001 12.31 4.12001 12.7C3.73001 13.09 3.73001 13.72 4.12001 14.11L8.30001 18.29C8.69001 18.68 9.32001 18.68 9.71001 18.29L20.29 7.71C20.68 7.32 20.68 6.69 20.29 6.3C19.9 5.91 19.27 5.91 18.88 6.3L9.00001 16.17Z" />
                                </svg>
                                <span>Chat et support 24h/7</span>
                              </li>
                              <li class="pricing-card__feature">
                                <svg class="pricing-card__bullet" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                  <path d="M9.00001 16.17L5.53001 12.7C5.14002 12.31 4.51001 12.31 4.12001 12.7C3.73001 13.09 3.73001 13.72 4.12001 14.11L8.30001 18.29C8.69001 18.68 9.32001 18.68 9.71001 18.29L20.29 7.71C20.68 7.32 20.68 6.69 20.29 6.3C19.9 5.91 19.27 5.91 18.88 6.3L9.00001 16.17Z" />
                                </svg>
                                <span>Formation en présentielle</span>
                              </li>
                              <li class="pricing-card__feature">
                                <svg class="pricing-card__bullet" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                  <path d="M9.00001 16.17L5.53001 12.7C5.14002 12.31 4.51001 12.31 4.12001 12.7C3.73001 13.09 3.73001 13.72 4.12001 14.11L8.30001 18.29C8.69001 18.68 9.32001 18.68 9.71001 18.29L20.29 7.71C20.68 7.32 20.68 6.69 20.29 6.3C19.9 5.91 19.27 5.91 18.88 6.3L9.00001 16.17Z" />
                                </svg>
                                <span>Formation des équipes</span>
                              </li>
                              <li class="pricing-card__feature">
                                <svg class="pricing-card__bullet" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                  <path d="M9.00001 16.17L5.53001 12.7C5.14002 12.31 4.51001 12.31 4.12001 12.7C3.73001 13.09 3.73001 13.72 4.12001 14.11L8.30001 18.29C8.69001 18.68 9.32001 18.68 9.71001 18.29L20.29 7.71C20.68 7.32 20.68 6.69 20.29 6.3C19.9 5.91 19.27 5.91 18.88 6.3L9.00001 16.17Z" />
                                </svg>
                                <span>Salles de formation</span>
                              </li>
                            </ul>
                    
                            <a href="{{ path('produit_service_contact_us') }}" class="btn btn-primary button--light pricing-card__action">
                              Nous contacter
                            </a>
                          </section>
                      </div>
                    </section>
                  </article>


            </div>
        </div>
	 </div>

	</div>

    <div class="modal fade" id="modalGestionCatalogueSelect" tabindex="-1" role="dialog" aria-labelledby="modalGestionCatalogueSelect" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
      
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLongTitle">Souscription aux offres</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="wait-chargement-content-module" style="text-align: center;">
                  Patientez un moment pendant le chargement de l'article</br>
                  <img src="{{ asset('template/images/loader1.gif') }}" alt="image" style="height: 40px; width: 40px;">
                </div>
            
                <div class="content-module-loading" style="display: none;">
                
                </div>
              </div>
            </div>
          </div>
      
          <div class="modal-footer" style="display: block;">
            {% include "Theme/General/Template/Menu/social.html.twig" %}
          </div>
        </div>
        </div>
    </div>

{% endblock %}


{% block javascripttemplate %}

$('.pricing-button-souscription').click(function(){
    var val = $(this).attr('value');
    openSouscription(val);
})

{% if pack != '' %}
    openSouscription('{{pack}}');
{% endif %}

function openSouscription(pack)
{
  $('#modalGestionCatalogueSelect').modal('show');
	$('.wait-chargement-content-module').show();
	$('.content-module-loading').hide();

	$.get('{{ path('pricing_offre_souscription_abonnement') }}',{ pack: pack }, function(data){
		$('.wait-chargement-content-module').hide();
		$('.content-module-loading').show();

    if(data == "promo")
    {
      $('.content-module-loading').html("Souscription effectuée avec succès. </br></br><a href='{{ path("produit_service_visiter_notre_blog") }}'><span class='fa fa-play'></span> choissez une formation</a>");
    }else if(data == "echec"){
      $('.content-module-loading').html("Une erreur a été rencontrée !");
    }else{
      $('.content-module-loading').html(data);
    }
		
	});
}

{% endblock %}	
