{% if position ==  'home' %}
	<style>
		.tabs_wrapper {
		  width: 100%;
		  text-align: center;
		  margin: 0 auto;
		  background: transparent;
		}

		ul.tabs {
		  display: inline-block;
		  vertical-align: top;
		  position: relative;
		  z-index: 10;
		  margin: 5px;
		  padding: 0;
		  width: 23%;
		  min-width: 175px;
		  list-style: none;
		  -ms-transition: all .3s ease;
		  -webkit-transition: all .3s ease;
		  transition: all .3s ease;
		}
		ul.tabs li {
		  margin: 0;
		  cursor: pointer;
		  padding: 15px 15px;
		  line-height: 31px;
		  color: #333;
		  text-align: left;
		  font-weight: bold;
		  background-color: #fff;
		  background: #fff;
		  -ms-transition: all .3s ease;
		  -webkit-transition: all .3s ease;
		  transition: all .3s ease;
		}
		ul.tabs li:hover {
		  background: #f7f7f7;
		  color: #333;
		  -ms-transition: all .3s ease;
		  -webkit-transition: all .3s ease;
		  transition: all .3s ease;
		}
		ul.tabs li.active {
		  background: #092759;
		  color: #FFF;
		  -ms-transition: all .3s ease;
		  -webkit-transition: all .3s ease;
		  transition: all .3s ease;
		}

		.tab_container {
		  display: inline-block;
		  vertical-align: top;
		  position: relative;
		  z-index: 20;
		  left: 10px;
		  width: 72%;
		  min-width: 10px;
		  text-align: left;
		  background: white;
		}

		.tab_content {
		  padding: 5px;
		  height: 100%;
		  display: none;
		  line-height: 30px;
		}

		.tab_drawer_heading {
		  display: none;
		}

		@media screen and (max-width: 781px){
		  ul.tabs {
			display: none;
		  }

		  .tab_container {
			display: block;
			margin: 0 auto;
			width: 100%;
			border-top: none;
			border-radius: 0;
		  }

		  .tab_drawer_heading {
			background-color: #ccc;
			background: #fff;
			color: #333;
			margin: 0;
			padding: 5px 20px;
			display: block;
			cursor: pointer;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			text-align: left;
		  }
		  .tab_drawer_heading:hover {
			background: #f7f7f7;
			color: #333;
		  }

		  .d_active{
			background: #f7f7f7;
			color: #333;
		  }
		}

		.icon-search-container {
			display: inline-block;
			border: 1px solid transparent;
			border-radius: 8px;
			height: 40px;
			width: 100px;
			position: relative;
			transition: width 0.2s ease-in-out;
			backface-visibility: hidden;
			float: right;
			background: #4f5867;
			margin-left: 40px;
		}

		.icon-search-container.active {
			width: 700px;
		}

		.icon-search-container.active .fa-times-circle {
			opacity: 1;
		}
		.icon-search-container.active .search-input {
			width: 200px;
		}
		.icon-search-container .fa-search-btn {
			color: #2980b9;
			font-size: 20px;
			position: absolute;
			top: 0px;
			left: 0px;
			cursor: pointer;
			padding: 7px; background: #739ee6; color: #fff; border-radius: 8px 0px 0px 8px;
			border: 2px solid transparent;
		}
		.icon-search-container .fa-times-circle {
			opacity: 0;
			color: #d9d9d9;
			font-size: 20px;
			position: absolute;
			top: 8px;
			right: 12px;
			transition: opacity 0.2s ease-out;
			cursor: pointer;
		}
		.icon-search-container .search-input {
			position: absolute;
			cursor: default;
			left: 45px;
			top: 2px;
			width: 0;
			padding: 5px;
			color: #fff;
			border: none;
			outline: none;
			font-size: 18px;
			line-height: 20px;
			background-color: rgba(255, 255, 255, 0);
			transition: width 0.2s ease-out;
		}
	</style>

	<!-- partial:partials/_horizontal-navbar.html -->
    <div class="horizontal-menu">
      <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="nav-top flex-grow-1">
          <div class="container d-flex flex-row h-100 align-items-center">
            
			<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
              <a class="navbar-brand brand-logo" href="{{ path('users_user_acces_plateforme') }}"><img src="{{ asset('template/images/AZ_logo_e-learning.png') }}" alt="logo" style="height: 50px;"/></a>
              <a class="navbar-brand brand-logo-mini" href="{{ path('users_user_acces_plateforme') }}"><img src="{{ asset('template/images/logo.png') }}" alt="logo"/></a>
            </div>

			<!-- <div class="search zone-etab-rechercher" style="display: inline-block; margin-bottom: 20px; padding-left: 30px;" value="0" name="">
				<form class="form-recherche-product" action="#!" method="post" style="display: inline;">
					<input type="text" class="search-form form-products-plateforme" autocomplete= "off" placeholder="Lancez la recherche" style="color: #333; margin-top: 15px;"/>
					<i class="fa fa-search recherche-products" style="color: green; z-index: 1000; position: absolute; margin-top: 3px; margin-left: 5px;"></i>
				</form>
		   </div> -->

		   <form class="icon-search-container form-recherche-product zone-etab-rechercher" value="0" name="" data-ic-class="search-trigger" method="post" action="#!">
				<button class="fa fa-search fa-search-btn recherche-products"></button>
				<input type="text" class="search-input form-products-plateforme" data-ic-class="search-input" placeholder="Rechercher"/>
				<span class="fa fa-times-circle" data-ic-class="search-clear"></span>
		   </form>
			
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end flex-grow-1">
              <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                  {% set nb_notification = liste_notification|length %}
				  <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                    <i class="mdi mdi-bell-outline mx-0"></i>
					{% if nb_notification > 0 %}
                    <span class="count" style="height: 15px; width: 15px; font-size: 9px; color: #fff;">{{ nb_notification }}</span>
					{% endif %}
                  </a>
				  
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                    <a class="dropdown-item">
                      <p class="mb-0 font-weight-normal float-left">Mes notifications</p>
                    </a>
                    <div class="dropdown-divider"></div>
                    {% for notification in liste_notification %}
						{% if notification.commentaireblog == null %}
						<a href="{% if app.user != null %}{{ path('users_user_notifications_user', {'id': app.user.id }) }}{% else %}{{ path('login') }}{% endif %}" class="dropdown-item preview-item">
						  <div class="preview-thumbnail">
							  <img src="{% if notification.user.imgprofil != null %}{{ asset(notification.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}" alt="image" class="profile-pic" style="margin-top: -7px;">
						  </div>
						  <div class="preview-item-content flex-grow">
							<h6 class="preview-subject ellipsis font-weight-medium"> {{ notification.user.name(30) }}
							  <span class="float-right font-weight-light" style="font-size: 9px;">{{ notification.getDuree }}</span>
							</h6>
							<p class="font-weight-light small-text">
							  {{ notification.titre }}
							</p>
						  </div>
						</a>
						{% else %}
						<a href="{% if notification.commentaireblog.produit != null %}{{ path('produit_produit_detail_produit_market', {'id': notification.commentaireblog.produit.id, 'mess': notification.commentaireblog.id }) }}{% else %}{{ path('produit_produit_presentation_chapter', {'id': notification.commentaireblog.chapitrecours.id, 'mess': notification.commentaireblog.id }) }}{% endif %}" class="dropdown-item preview-item">
						  <div class="preview-thumbnail">
							  <img src="{% if notification.user.imgprofil != null %}{{ asset(notification.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}" alt="image" class="profile-pic" style="margin-top: -7px;">
						  </div>
						  <div class="preview-item-content flex-grow">
							<h6 class="preview-subject ellipsis font-weight-medium"> {{ notification.user.name(30) }}
							  <span class="float-right font-weight-light" style="font-size: 9px;">{{ notification.getDuree }}</span>
							</h6>
							<p class="font-weight-light small-text">
							  {{ notification.titre }}
							</p>
						  </div>
						</a>
						{% endif %}
					{% else %}
						{% if app.user == null %}
						
							<a href="{{ path('login') }}" class="dropdown-item preview-item">
							  <div class="preview-thumbnail">
								  <img src="{{ asset('template/images/co.png') }}" alt="image" class="profile-pic"/>
							  </div>
							  <div class="preview-item-content flex-grow">
								<h6 class="preview-subject ellipsis font-weight-medium">Anonyme
								  <span class="float-right font-weight-light small-text">À l'instant</span>
								</h6>
								<p class="font-weight-light small-text">
								  Veuillez vous connecter à votre compte
								</p>
							  </div>
							</a>
						
						{% else %}
						<a href="{{ path('login') }}" class="dropdown-item preview-item">
						  <div class="preview-thumbnail">
							  <img src="{{ asset('template/images/env.png') }}" alt="image" class="profile-pic"/>
						  </div>
						  <div class="preview-item-content flex-grow">
							<h6 class="preview-subject ellipsis font-weight-medium">Aucune Notification
							  <span class="float-right font-weight-light small-text">À l'instant</span>
							</h6>
							<p class="font-weight-light small-text">
							  Pas de nouveau messages
							</p>
						  </div>
						</a>
						{% endif %}
					{% endfor %}
					<div class="dropdown-divider"></div>
					<a href="{% if app.user != null %}{{ path('users_user_notifications_user', {'id': app.user.id }) }}{% else %}{{ path('login') }}{% endif %}" class="dropdown-item">
					  <i class="mdi mdi-chevron-right-circle-outline text-primary"></i>
					  Liste complète
					</a>

                  </div>
                </li>
				
                <li class="nav-item dropdown">
                  <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-email-outline mx-0"></i>
					{% set nb_message = liste_message|length %}
                    {% if nb_message > 0 %}
                    <span class="count" style="height: 15px; width: 15px; font-size: 9px; color: #fff;">{{ nb_message }}</span>
					{% endif %}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                    <div class="dropdown-item">
                      <p class="mb-0 font-weight-normal float-left">Mes Messages</p>
                    </div>
					
                    <div class="dropdown-divider"></div>
                    {% for message in liste_message %}
						
						<a href="{% if message.produit != null %}{{ path('produit_produit_detail_produit_market', {'id': message.produit.id, 'mess': message.id }) }}{% else %}{{ path('produit_produit_presentation_chapter', {'id': message.chapitrecours.id, 'mess': message.id }) }}{% endif %}" class="dropdown-item preview-item">
						  <div class="preview-thumbnail">
							  <img src="{% if message.user != null and message.user.imgprofil != null %}{{ asset(message.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}" alt="image" class="profile-pic" style="margin-top: -7px;"/>
						  </div>
						  <div class="preview-item-content flex-grow">
							<h6 class="preview-subject ellipsis font-weight-medium"> {% if message.user != null %}{{ message.user.name(30) }}{% else %}Anonyme{% endif %}
							  <span class="float-right font-weight-light" style="font-size: 9px;">{{ message.getDuree }}</span>
							</h6>
							<p class="font-weight-light small-text">
							  {{ message.contenu }}
							</p>
						  </div>
						</a>
						
					{% else %}
						{% if app.user == null %}
						<a href="{{ path('login') }}" class="dropdown-item preview-item">
						  <div class="preview-thumbnail">
							  <img src="{{ asset('template/images/co.png') }}" alt="image" class="profile-pic"/>
						  </div>
						  <div class="preview-item-content flex-grow">
							<h6 class="preview-subject ellipsis font-weight-medium">Anonyme
							  <span class="float-right font-weight-light small-text">À l'instant</span>
							</h6>
							<p class="font-weight-light small-text">
							  Veuillez vous connecter à votre compte
							</p>
						  </div>
						</a>
						{% else %}
						<a href="{{ path('login') }}" class="dropdown-item preview-item">
						  <div class="preview-thumbnail">
							  <img src="{{ asset('template/images/env.png') }}" alt="image" class="profile-pic"/>
						  </div>
						  <div class="preview-item-content flex-grow">
							<h6 class="preview-subject ellipsis font-weight-medium">Aucun Message
							  <span class="float-right font-weight-light small-text">À l'instant</span>
							</h6>
							<p class="font-weight-light small-text">
							  Pas de nouveau messages
							</p>
						  </div>
						</a>
						{% endif %}
					{% endfor %}
					<div class="dropdown-divider"></div>
					<a href="{% if app.user != null %}{{ path('produit_service_liste_message_user', {'id': app.user.id}) }}{% else %}{{ path('login') }}{% endif %}" class="dropdown-item">
					  <i class="mdi mdi-chevron-right-circle-outline text-primary"></i>
					  Liste complète
					</a>

                  </div>
                </li>
				
                <li class="nav-item nav-profile dropdown">
                  <a class="nav-link dropdown-toggle" href="#!" data-toggle="dropdown" id="profileDropdown">
                    <img src="{% if app.user != null and app.user.imgprofil != null %}{{ asset(app.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}" alt="profile" style="margin-top: -7px;"/>
                  </a>
				  
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    
					{% if app.user != null %}
						<a href="{{ path('users_user_user_accueil', {'id': app.user.id}) }}" class="dropdown-item">
						  <i class="mdi mdi-account text-primary"></i>
						  {{ app.user.name(25) }}
						</a>
						
						<div class="dropdown-divider"></div>
						
						<a href="{{ path('users_user_modifier_profil', {'id': app.user.id}) }}" class="dropdown-item">
						  <i class="mdi mdi-settings text-primary"></i>
						  Paramètres
						</a>
						

						<a href="{{ path('produit_service_yourcv_recrutement') }}" class="dropdown-item">
						  <i class="mdi mdi-basket-fill text-primary"></i>
						  Créditer mon solde
						</a>
						
						{% if app.user.formateur == true and is_granted('ROLE_FORMATEUR') %}
							<a href="{{ path('produit_produit_ajouter_nouveau_produit') }}" class="dropdown-item">
								<i class="fa fa-plus text-primary"></i>
								Ajoutez un cours
							</a>
							
							<a href="{{ path('users_user_accueil_commande_user', {'id': app.user.id}) }}" class="dropdown-item">
								<i class="fa fa-eye text-primary"></i>
								Formations à suivre
							</a>
						{% endif %}
						<div class="dropdown-divider"></div>
						<a href="{{ path('logout') }}" class="dropdown-item">
						  <i class="mdi mdi-logout text-primary"></i>
						  Déconnexion
						</a>
					{% else %}
						<a href="{{ path('login') }}" class="dropdown-item">
						  <i class="mdi mdi-settings text-primary"></i>
						  Connexion
						</a>
						<div class="dropdown-divider"></div>
						<a href="{{ path('users_user_inscription_user') }}" class="dropdown-item">
						  <i class="mdi mdi-logout text-primary"></i>
						  Inscription
						</a>
					{% endif %}
					
                  </div>
                </li>
				
                <li class="nav-item nav-settings d-none d-lg-block">
                  <a class="nav-link activator" href="#!">
                    <i class="mdi mdi-apps"></i>
                  </a>
                </li>
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                <span class="mdi mdi-menu"></span>
              </button>
            </div>
          </div>
        </div>
      </nav>

	  <style>
		.bottom-navbar .nav-link-items{
			color: #fff!important;
		}
		.bottom-navbar .nav-link-items i{
			color: #fff!important;
		}
	  </style>
      <nav class="bottom-navbar" style="background: #092759;">
        <div class="container">
          <ul class="nav page-navigation" style="justify-content: flex-start!important;">
		  
            <li class="nav-item">
              <a class="nav-link nav-link-items" href="{{ path('users_user_acces_plateforme') }}">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Accueil</span>
              </a>
            </li>
			
            <li class="nav-item mega-menu">
              
			  <a href="#" class="nav-link nav-link-items">
                <i class="mdi mdi-play-protected-content menu-icon"></i>
                <span class="menu-title">Catalogue</span>
                <i class="menu-arrow"></i>
              </a>
			  
              <div class="submenu">
                <div class="col-group-wrapper row">

					<div class="tabs_wrapper col-md-12">
					
					<ul class="tabs">
					{% for cat in liste_categorie %}
					  <li class="{% if loop.first %}active{% endif %}" rel="tab{{ cat.id }}">{{ cat.nom }}</li>
					{% endfor %}
					</ul>
					
					<div class="tab_container">
					  {% for cat in liste_categorie %}
					  <h3 class="d_active tab_drawer_heading" rel="tab{{ cat.id }}">{{ cat.nom }}</h3>
					  <div id="tab{{ cat.id }}" class="tab_content">
						<!-- h2>{{ cat.nom }}</h2 -->
						
						<div class="row">
							{% for scat in cat.getScategories %}
							<div class="col-md-4">
								<strong>{{ scat.nom }}</strong></br>
								{% for prod in scat.getProduitSouscategorie %}
									<div>
										<a href="{{ path('produit_produit_detail_produit_market', {'id': prod.id }) }}">{{ prod.titre }}</a>
									</div>
								{% endfor %}
							</div>
							{% endfor %}
							<div class="col-md-12" style="background: #f4f4f4;">
								<a href="{{ path('produit_produit_liste_produit_souscategorie', {'id': cat.id }) }}"><span class="fa fa-arrow-circle-right"></span> Tous les cours</a>
							</div>
						</div>
					  </div>
					  {% endfor %}
					</div>
					<!-- .tab_container -->
					</div>


                </div>
              </div>
            </li>
			
            <li class="nav-item">
              <a href="#" class="nav-link nav-link-items">
                <i class="mdi mdi-bullseye-arrow menu-icon"></i>
                <span class="menu-title">Campagnes</span>
                <i class="menu-arrow"></i>
			  </a>
              <div class="submenu">
                <ul class="submenu-item">
					{% for formation in liste_formation %}
					  <li class="nav-item"><a class="nav-link" href="{{ path('produit_service_assistance_entreprise', {'id': formation.id }) }}">{{ formation.nom }}</a></li>
					{% endfor %}
					<li class="nav-item"><a class="nav-link" href="{{ path('produit_service_visiter_notre_blog') }}">Toutes nos offres de formation</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a href="{{ path('produit_service_forum_site') }}" class="nav-link nav-link-items">
                <i class="mdi mdi-account-search menu-icon"></i>
                <span class="menu-title">Forum</span>
			  </a>
            </li>
			
			<li class="nav-item nav-item-formateurs">
              <a href="{{ path('produit_service_toute_actualite_entreprise') }}" class="nav-link nav-link-items">
                <i class="mdi mdi-account-supervisor menu-icon"></i>
                <span class="menu-title">Formateurs AZ</span>
			  </a>
            </li>
			
			<li class="nav-item nav-item-aide">
              <a href="#" class="nav-link nav-link-items">
                <i class="mdi mdi-information-outline menu-icon"></i>
                <span class="menu-title">Aide</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="{{ path('produit_service_apropos_denous') }}">À propos</a></li>
				  <li class="nav-item"><a class="nav-link" href="{{ path('produit_service_videos_struct') }}">Vidéos</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ path('produit_service_azelearning_faq') }}">Foire aux questions</a></li>
				  <li class="nav-item"><a class="nav-link" href="{{ path('produit_service_gallery_struct') }}">Galerie photo</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ path('produit_service_contact_us') }}">Nous contacter</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
	
	
    <script type="text/javascript">
		
    $(".tab_content").hide();
    $(".tab_content:first").show();

     /* if in tab mode */
    $("ul.tabs li").mouseover(function(){
	  
      $(".tab_content").hide();
      var activeTab = $(this).attr("rel"); 
      $("#"+activeTab).fadeIn();		
		
      $("ul.tabs li").removeClass("active");
      $(this).addClass("active");

	  $(".tab_drawer_heading").removeClass("d_active");
	  $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");
	  
		/*$(".tabs").css("margin-top", function(){ 
		   return ($(".tab_container").outerHeight() - $(".tabs").outerHeight() ) / 2;
		});*/
    });
	
    $(".tab_container").css("min-height", function(){ 
      return $(".tabs").outerHeight() + 50;
    });
	
	/* if in drawer mode */
	
	$(".tab_drawer_heading").click(function(){
      
      $(".tab_content").hide();
      var d_activeTab = $(this).attr("rel"); 
      $("#"+d_activeTab).fadeIn();
	  
	  $(".tab_drawer_heading").removeClass("d_active");
      $(this).addClass("d_active");
	  
	  $("ul.tabs li").removeClass("active");
	  $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
    });

	
	/**
  	---------------- Search form,Js
  **/

  var $searchTrigger = $('[data-ic-class="search-trigger"]'),
  $searchInput = $('[data-ic-class="search-input"]'),
  $searchClear = $('[data-ic-class="search-clear"]');

  $searchTrigger.click(function(){

  var $this = $('[data-ic-class="search-trigger"]');
  $this.addClass('active');
  $searchInput.focus();

  });

  $searchInput.blur(function(){

  if($searchInput.val().length > 0){

    return false;

  } else {

    $searchTrigger.removeClass('active');

  }

  });

  $searchClear.click(function(){
    $searchInput.val('');
  });

  $searchInput.focus(function(){
    $searchTrigger.addClass('active');
  });

  /*
  End Search Form Js
  */

function rechercheetab()
{
	if($('.form-products-plateforme').val().length >= 2)// on vérifier si l'utilisateur a entré plus de 5 caractères
	{
		var libre = $('.zone-etab-rechercher').attr('value'); // on initialise la variable libre
		var donnee = $('.form-products-plateforme').val();  //on récupère la donnée
		if (libre == 0 && donnee != $('.zone-etab-rechercher').attr('name')){ // on vérifier si la requête précedente est rétournée et que la recherche ne corespnd pas à la dernière effectuée
		$('.zone-etab-rechercher').attr('value',1); // on bloque d'autres recherches
		$('.zone-etab-rechercher').attr('name',donnee); // on enregistre la recherche effectuer.
		$('.recherche-products').removeClass('fa-search');
		$('.recherche-products').html('<img src="{{ asset('template/images/attente.gif') }}" alt="" style="width: 15px; height: 15px; margin-top: 0px;"/>'); //attente du résultat
		
			$.get('{{ path('produit_produit_recherche_new_produit', {'position': 'home'}) }}', { donnee: $('.form-products-plateforme').val() }, function(data){
				$('.recherche-products').html('');
				$('.recherche-products').addClass('fa-search');
				$('.content-recherche-products-market').html(data);
				$('.content-manage-market').hide();
				$('.content-recherche-products-market').show();
				$('.content-manage-market').css('margin-top','0px');
				$('.content-manage-market').css('padding-top','0px');
				$('.zone-etab-rechercher').attr('value',0);
				setTimeout(function() { rechercheetab(); }, 100);  // on relance la fonction après 200 ms.
			});
		}else{
			setTimeout(function() { rechercheetab(); }, 100);
		}
	}else{
		setTimeout(function() { rechercheetab(); }, 100);
	}
}


$(".form-products-plateforme").focus(function(){
rechercheetab(); 
});

$('.form-recherche-product').on('submit', function(){
    if($('.form-products-plateforme').val().length < 2)// on vérifier si l'utilisateur a entré plus de 5 caractères
	{
		$('.infos-action-effectuer').html('<span class="fa fa-warning"></span> Echec ! Rentrez au moins 2 caractères !');
		$('#infos-action-effectuer').modal('show');
	}else{
		$('.infos-action-effectuer').html('<span class="fa fa-warning"></span> Patientez ! Auto-recherche en cours !');
		$('#infos-action-effectuer').modal('show');
	}
	return false;
});
	
    </script>
{% elseif(position ==  'presentation') %}

<style>
	.icon-search-container {
		display: inline-block;
		border: 1px solid transparent;
		border-radius: 8px;
		height: 40px;
		width: 100px;
		position: relative;
		transition: width 0.2s ease-in-out;
		backface-visibility: hidden;
		float: right;
		background: #4f5867;
		margin-left: 40px;
	}

	.icon-search-container.active {
		width: 400px;
	}

	.icon-search-container.active .fa-times-circle {
		opacity: 1;
	}
	.icon-search-container.active .search-input {
		width: 200px;
	}
	.icon-search-container .fa-search-btn {
		color: #2980b9;
		font-size: 20px;
		position: absolute;
		top: 0px;
		left: 0px;
		cursor: pointer;
		padding: 7px; background: #739ee6; color: #fff; border-radius: 8px 0px 0px 8px;
		border: 2px solid transparent;
	}
	.icon-search-container .fa-times-circle {
		opacity: 0;
		color: #d9d9d9;
		font-size: 20px;
		position: absolute;
		top: 8px;
		right: 12px;
		transition: opacity 0.2s ease-out;
		cursor: pointer;
	}
	.icon-search-container .search-input {
		position: absolute;
		cursor: default;
		left: 45px;
		top: 2px;
		width: 0;
		padding: 5px;
		color: #fff;
		border: none;
		outline: none;
		font-size: 18px;
		line-height: 20px;
		background-color: rgba(255, 255, 255, 0);
		transition: width 0.2s ease-out;
	}

	/* #Navigation
	================================================== */


	.count_notif{
		border-radius: 50%; text-align: center; position: absolute; top: -2px; z-index: 5; left: -2px; height: 15px; width: 15px; font-size: 9px; color: #fff; background: red;
	}

	/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #092759 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	border: none!important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #092759;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
p{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}
body.hero-anime p{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1700ms;
}
h1 span{
	display: inline-block;
    transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}
body.hero-anime h1 span:nth-child(1){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(2){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(3){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(4){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(5){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(6){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(7){
	opacity: 0;
	transform: translateY(-40px);
}
body.hero-anime h1 span:nth-child(8){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(9){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(10){
	opacity: 0;
	transform: translateY(-20px);
}
h1 span:nth-child(1){
    transition-delay: 1000ms;
}
h1 span:nth-child(2){
    transition-delay: 700ms;
}
h1 span:nth-child(3){
    transition-delay: 900ms;
}
h1 span:nth-child(4){
    transition-delay: 800ms;
}
h1 span:nth-child(5){
    transition-delay: 1000ms;
}
h1 span:nth-child(6){
    transition-delay: 700ms;
}
h1 span:nth-child(7){
    transition-delay: 900ms;
}
h1 span:nth-child(8){
    transition-delay: 800ms;
}
h1 span:nth-child(9){
    transition-delay: 600ms;
}
h1 span:nth-child(10){
    transition-delay: 700ms;
}
body.hero-anime h1 span:nth-child(11){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(12){
	opacity: 0;
	transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(13){
	opacity: 0;
	transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(14){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(15){
	opacity: 0;
	transform: translateY(50px);
}
h1 span:nth-child(11){
    transition-delay: 1300ms;
}
h1 span:nth-child(12){
    transition-delay: 1500ms;
}
h1 span:nth-child(13){
    transition-delay: 1400ms;
}
h1 span:nth-child(14){
    transition-delay: 1200ms;
}
h1 span:nth-child(15){
    transition-delay: 1450ms;
}
#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
#switch {
	width: 60px;
	height: 8px;
	border: 2px solid #8167a9;
	border-radius: 27px;
	background: #000;
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}
body.hero-anime #switch{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1900ms;
}
#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #000;
}
.switched {
	border-color: #000 !important;
	background: #8167a9 !important;
}
.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: #092759;
}

.dropdown-item:hover p{
	color: #fff;
}


/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}

.cd-dropdown-trigger {
    background-color: #ffffff!important;
    color: #092759!important;
}
.cd-dropdown-trigger::before, .cd-dropdown-trigger::after {
    background: #092759!important;
}
ol, ul {
	list-style: none;
}
.cd-dropdown-content > .has-children > a.is-active {
    box-shadow: inset 2px 0 0 #092759;
    color: #092759;
}
.cd-dropdown-content > .has-children > a, .cd-dropdown-content > .has-children > .cd-secondary-dropdown.is-active > li > ul, .other_list a{
	font-size: 16px!important;
	font-family: OpenSans-Regular!important;
}
.cd-dropdown-content .cd-secondary-dropdown > li > a, .cd-dropdown-content .see-all a {
    color: #092759;
}
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item h3{
	color: #092759;
	font-size: 14px;
}
.cd-dropdown-content .cd-secondary-dropdown a:hover, .other_list a:hover, .no-touch .cd-dropdown-content .cd-secondary-dropdown a:hover{
	color: #092759;
}
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item{
	padding: 20px 0 0 85px;
	height: auto;
	line-height: 15px;
}
.cd-dropdown-content > .has-children > .cd-secondary-dropdown.is-active > li > ul {
    padding-left: 10px!important;
}
.cd-dropdown-content .cd-secondary-dropdown ul {
    margin-left: -10px!important;
}
.cd-dropdown-content .cd-secondary-dropdown .see-all{
	left: 10px!important;
}
.cd-dropdown-content .cd-secondary-dropdown > li{
	height: auto;
	border: none;
	margin: 0px;
	padding: 0px;
}
.cd-dropdown-content .cd-dropdown-icons > li, .cd-dropdown-content .cd-secondary-dropdown > li{
	width: 100%;
}
.cd-dropdown-content .cd-secondary-dropdown::before{
	display: none;
}
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before{
	margin-top: -10px;
}
.cd-dropdown-content .cd-secondary-dropdown > .see-all, .cd-dropdown-content .cd-dropdown-gallery > .see-all, .cd-dropdown-content .cd-dropdown-icons > .see-all{
	bottom: 0px;
	width: 100%!important;
}
.cd-dropdown-content a, .cd-dropdown-content ul a{
	border: none;
}
@media (min-width: 1024px){
	.no-touch .cd-dropdown-trigger.dropdown-is-active:hover {
		background-color: #ffffff!important;
		color: #092759!important;
	}
}

.img-dd-profil{
	float: left;
	margin-right: 7px;
	border-radius: 20px;
	height: 40px;
}
</style>


<div class="navigation-wrap bg-light start-header start-style">
	<div class="main-container" style="padding-top: 0px!important; padding-bottom: 0px!important;">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-md navbar-light">
					
					<a href="{{ path('users_user_acces_plateforme') }}">
						<img src="{{ asset('template/images/logo.png') }}" alt="" style="height: 50px; width: 70px;"/>
					</a>	

					<div class="cd-dropdown-wrapper" style="margin: 0px;">
						<a class="cd-dropdown-trigger" href="#0">Catalogue</a>
						<nav class="cd-dropdown" style="margin-top: 20px;">
							<h2>Title</h2>
							<a href="#0" class="cd-close">Close</a>
							<ul class="cd-dropdown-content" style="padding: 10px 0px 50px 0px;">
								<li class="has-children" style="margin-top: 5px;">
									<a href="#!">Cours</a>

									<ul class="cd-secondary-dropdown is-hidden" style="padding: 0px 0px 50px 15px;">
										<li class="go-back"><a href="#0">Menu</a></li>
										<li class="see-all" style="left: 0px!important;"><a href="{{ path('produit_produit_accueil_boutique_produit') }}">Tous les cours</a></li>
										
										{% for cat in liste_categorie %}
										<li class="has-children">
											<a href="#!">{{ cat.nom }}</a>
											<ul class="is-hidden" style="margin-bottom: 15px;">
												<li class="go-back"><a href="#0">{{ cat.nom }}</a></li>
												<li class="see-all"><a href="{{ path('produit_produit_liste_produit_souscategorie', {'id': cat.id }) }}" style="font-size: 10px;">Tous les cours {{ cat.nom }} <span class="fa fa-arrow-right"></span> </a></li>
												{% for scat in cat.getScategories %}
												<li class="has-children">
													<a href="#0">{{ scat.nom }}</a>
													<ul class="is-hidden" >
														<li class="go-back" style="margin-bottom: 15px;"><a href="#0" style="color: #333;">Retourner</a></li>
														<li class="see-all"><a href="#!" style="padding-left: 25px; font-size: 10px;;">Tous les cours {{ scat.nom }} <span class="fa fa-arrow-right"></span> </a></li>
														{% for prod in scat.getProduitSouscategorie %}
														<li><a href="{{ path('produit_produit_detail_produit_market', {'id': prod.id }) }}">{{ prod.titre }}</a></li>
														{% endfor %}
													</ul>
												</li>
												{% endfor %}
											</ul>
										</li>
										{% endfor %}

									</ul> <!-- .cd-secondary-dropdown -->
								</li> <!-- .has-children -->
			
								<li class="has-children">
									<a href="#!">Campagnes</a>
									<ul class="cd-dropdown-icons is-hidden" style="padding: 0px 0px 50px 0px;">
										<li class="go-back"><a href="#0">Menu</a></li>
										<li class="see-all"><a href="{{ path('produit_service_visiter_notre_blog') }}">Toutes nos campagnes</a></li>
										{% for formation in liste_formation %}
										<li>
											<a class="cd-dropdown-item item-7" href="{{ path('produit_service_assistance_entreprise', {'id': formation.id }) }}">
												<h3>{{ formation.nom }}</h3>
												<span style="font-size: 12px;">12 Cours</span>
											</a>
										</li>
										{% endfor %}			
									</ul> <!-- .cd-dropdown-icons -->
								</li> <!-- .has-children -->
			
								<li class="has-children">
									<a href="http://codyhouse.co/?p=748">Aide</a>
									<ul class="cd-dropdown-icons is-hidden">
										<li class="go-back"><a href="#0">Menu</a></li>
										<li class="see-all"><a href="http://codyhouse.co/?p=748">Browse Services</a></li>
										<li>
											<a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">
												<h3>Service #1</h3>
												<p>This is the item description</p>
											</a>
										</li>
			
										<li>
											<a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">
												<h3>Service #2</h3>
												<p>This is the item description</p>
											</a>
										</li>
			
			
									</ul> <!-- .cd-dropdown-icons -->
								</li> <!-- .has-children -->
			
								<li class="cd-divider" style="text-transform: capitalize;">Autres</li>
			
								<li class="other_list"><a href="{{ path('produit_service_forum_site') }}">Forum</a></li>
								<li class="other_list"><a href="{{ path('produit_service_toute_actualite_entreprise') }}">Formateurs</a></li>
								<li class="other_list"><a href="{{ path('produit_service_yourcv_recrutement') }}">Ajout de fond</a></li>
							</ul> <!-- .cd-dropdown-content -->
						</nav> <!-- .cd-dropdown -->
					</div> <!-- .cd-dropdown-wrapper -->
				
					

					<form class="icon-search-container form-recherche-product zone-etab-rechercher" value="0" name="" data-ic-class="search-trigger" method="post" action="#!">
						<button class="fa fa-search fa-search-btn recherche-products"></button>
						<input type="text" class="search-input form-products-plateforme" data-ic-class="search-input" placeholder="Rechercher"/>
						<span class="fa fa-times-circle" data-ic-class="search-clear"></span>
					</form>
				    
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto py-4 py-md-0">
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
								{% set nb_notification = liste_notification|length %}
								{% if nb_notification > 0 %}
									<span class="count_notif">{{ nb_notification }}</span>
								{% endif %}
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" type="button" aria-haspopup="true" aria-expanded="false">
									<span class="fa fa-bell-o"></span> Notifications
								</a>
								<div class="dropdown-menu dropdown-menu-right lg-dropdownbt">

									{% for notification in liste_notification %}
										{% if notification.commentaireblog == null %}
										<a href="{% if app.user != null %}{{ path('users_user_notifications_user', {'id': app.user.id }) }}{% else %}{{ path('login') }}{% endif %}" class="dropdown-item preview-item">
											<img src="{% if notification.user.imgprofil != null %}{{ asset(notification.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}" alt="image" class="img-dd-profil"/>
											<div class="preview-item-content flex-grow text-left">
												<h6 style="font-weight: bold; margin-bottom: 0px; padding-top: 3px;">{{ notification.user.name(30) }}
													<span class="float-right font-weight-light small-text">{{ notification.getDuree }}</span>
												</h6>
												<div class="text-truncate text-left" >
													{{ notification.titre }}
												</div>
											</div>
										</a>
										{% else %}
										<a href="{% if notification.commentaireblog.produit != null %}{{ path('produit_produit_detail_produit_market', {'id': notification.commentaireblog.produit.id, 'mess': notification.commentaireblog.id }) }}{% else %}{{ path('produit_produit_presentation_chapter', {'id': notification.commentaireblog.chapitrecours.id, 'mess': notification.commentaireblog.id }) }}{% endif %}" class="dropdown-item preview-item">
											<img src="{% if notification.user.imgprofil != null %}{{ asset(notification.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}" alt="image" class="img-dd-profil"/>
											<div class="preview-item-content flex-grow text-left">
												<h6 style="font-weight: bold; margin-bottom: 0px; padding-top: 3px;">{{ notification.user.name(30) }}
													<span class="float-right font-weight-light small-text">{{ notification.getDuree }}</span>
												</h6>
												<div class="text-truncate text-left" >
													{{ notification.titre }}
												</div>
											</div>
										</a>
										{% endif %}
									{% else %}
										{% if app.user == null %}
											<a href="{{ path('login') }}" class="dropdown-item preview-item">
												<img src="{{ asset('template/images/co.png') }}" alt="image" class="img-dd-profil"/>
												<div class="preview-item-content flex-grow text-left">
													<h6 style="font-weight: bold; margin-bottom: 0px; padding-top: 3px;">Anonyme
														<span class="float-right font-weight-light small-text">À l'instant</span>
													</h6>
													<div class="text-truncate text-left" >
														Veuillez vous connecter à votre compte 
													</div>
												</div>
											</a>
										{% else %}
										    <a href="{{ path('users_user_notifications_user', {'id': app.user.id }) }}" class="dropdown-item preview-item">
												<img src="{{ asset('template/images/co.png') }}" alt="image" class="img-dd-profil"/>
												<div class="preview-item-content flex-grow text-left">
													<h6 style="font-weight: bold; margin-bottom: 0px; padding-top: 3px;">{{ app.user.name(40) }}
														<span class="float-right font-weight-light small-text">À l'instant</span>
													</h6>
													<div class="text-truncate text-left" >
														Aucune nouvelle notification
													</div>
												</div>
											</a>
										{% endif %}
									{% endfor %}
									<div class="dropdown-divider"></div>
									<a href="{% if app.user != null %}{{ path('users_user_notifications_user', {'id': app.user.id }) }}{% else %}{{ path('login') }}{% endif %}" class="dropdown-item">
										<i class="mdi mdi-chevron-right-circle-outline text-primary"></i>
										Liste complète
									</a>

								</div>
							</li>
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
								{% set nb_message = liste_message|length %}
								{% if nb_message > 0 %}
									<span class="count_notif">{{ nb_message }}</span>
								{% endif %}
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" type="button" aria-haspopup="true" aria-expanded="false">
									<span class="fa fa-envelope-o"></span> Messages
								</a>
								<div class="dropdown-menu dropdown-menu-right lg-dropdownbt">
									{% for message in liste_message %}

										<a href="{% if message.produit != null %}{{ path('produit_produit_detail_produit_market', {'id': message.produit.id, 'mess': message.id }) }}{% else %}{{ path('produit_produit_presentation_chapter', {'id': message.chapitrecours.id, 'mess': message.id }) }}{% endif %}" class="dropdown-item preview-item">
											<img src="{% if message.user != null and message.user.imgprofil != null %}{{ asset(message.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}" alt="image" class="img-dd-profil"/>
											<div class="preview-item-content flex-grow text-left">
												<h6 style="font-weight: bold; margin-bottom: 0px; padding-top: 3px;">{% if message.user != null %}{{ message.user.name(30) }}{% else %}Anonyme{% endif %}
													<span class="float-right font-weight-light small-text">{{ message.getDuree }}</span>
												</h6>
												<div class="text-truncate text-left" >
													{{ message.contenu }}
												</div>
											</div>
										</a>
										
									{% else %}
										{% if app.user == null %}
										<a href="{{ path('login') }}" class="dropdown-item preview-item">
											<img src="{{ asset('template/images/co.png') }}" alt="image" class="img-dd-profil"/>
											<div class="preview-item-content flex-grow text-left">
												<h6 style="font-weight: bold; margin-bottom: 0px; padding-top: 3px;">Anonyme
													<span class="float-right font-weight-light small-text">À l'instant</span>
												</h6>
												<div class="text-truncate text-left" >
													Veuillez vous connecter à votre compte
												</div>
											</div>
										</a>

										{% else %}
										<a href="{{ path('produit_service_liste_message_user', {'id': app.user.id}) }}" class="dropdown-item preview-item">
											<img src="{{ asset('template/images/co.png') }}" alt="image" class="img-dd-profil"/>
											<div class="preview-item-content flex-grow text-left">
												<h6 style="font-weight: bold; margin-bottom: 0px; padding-top: 3px;">{{ app.user.name(40) }}
													<span class="float-right font-weight-light small-text">À l'instant</span>
												</h6>
												<div class="text-truncate text-left" >
													Aucun nouveau message
												</div>
											</div>
										</a>
										{% endif %}
									{% endfor %}
									<div class="dropdown-divider"></div>
									<a href="{% if app.user != null %}{{ path('produit_service_liste_message_user', {'id': app.user.id}) }}{% else %}{{ path('login') }}{% endif %}" class="dropdown-item">
									<i class="mdi mdi-chevron-right-circle-outline text-primary"></i>
									Liste complète
									</a>
								</div>
							</li>
							
							{% if app.user != null %}
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" type="button" aria-haspopup="true" aria-expanded="false">
									<span class="fa fa-user-circle-o"></span> {{ app.user.name(25) }}
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="{{ path('users_user_user_accueil', {'id': app.user.id}) }}" class="dropdown-item">
										<i class="mdi mdi-account text-primary"></i>
										{{ app.user.name(25) }}
									  </a>
									  
									  <div class="dropdown-divider"></div>
									  
									  <a href="{{ path('users_user_modifier_profil', {'id': app.user.id}) }}" class="dropdown-item">
										<i class="mdi mdi-settings text-primary"></i>
										Paramètres
									  </a>
									  
			  
									  <a href="{{ path('produit_service_yourcv_recrutement') }}" class="dropdown-item">
										<i class="mdi mdi-basket-fill text-primary"></i>
										Créditer mon solde
									  </a>
									  
									  {% if app.user.formateur == true and is_granted('ROLE_FORMATEUR') %}
										  <a href="{{ path('produit_produit_ajouter_nouveau_produit') }}" class="dropdown-item">
											  <i class="fa fa-plus text-primary"></i>
											  Ajoutez un cours
										  </a>
										  
										  <a href="{{ path('users_user_accueil_commande_user', {'id': app.user.id}) }}" class="dropdown-item">
											  <i class="fa fa-eye text-primary"></i>
											  Formations à suivre
										  </a>
									  {% endif %}
									  <div class="dropdown-divider"></div>
									  <a href="{{ path('logout') }}" class="dropdown-item">
										<i class="mdi mdi-logout text-primary"></i>
										Déconnexion
									  </a>
								</div>
							</li>
							{% else %}
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
								<a class="nav-link dropdown-toggle signup_signin" data-toggle="dropdown" href="#" type="button" aria-haspopup="true" aria-expanded="false" style="display: inline-block; border: 1px solid #ddd;  border-radius: 40px;">
									 <span style="display: inline-block; padding-left: 10px; padding-right: 10px;">Commencer</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="{{ path('login') }}" class="dropdown-item">
										<i class="mdi mdi-settings text-primary"></i>
										Connexion
									</a>
									<div class="dropdown-divider"></div>
									<a href="{{ path('users_user_inscription_user') }}" class="dropdown-item">
										<i class="mdi mdi-logout text-primary"></i>
										Inscription
									</a>
								</div>
							</li>
							{% endif %}

							
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
								<a class="nav-link activator" href="#!">
									<span class="fa fa-th"></span>
								</a>
							</li>
						</ul>
					</div>
					
				</nav>		
			</div>
		</div>
	</div>
</div>


<script>
(function($) { "use strict";

$(function() {
	var header = $(".start-style");
	$(window).scroll(function() {    
		var scroll = $(window).scrollTop();
	
		if (scroll >= 10) {
			header.removeClass('start-style').addClass("scroll-on");
		} else {
			header.removeClass("scroll-on").addClass('start-style');
		}
	});
});		
	
//Animation

$(document).ready(function() {
	$('body.hero-anime').removeClass('hero-anime');
});

//Menu On Hover
	
$('body').on('mouseenter mouseleave','.nav-item',function(e){
		if ($(window).width() > 750) {
			var _d=$(e.target).closest('.nav-item');_d.addClass('show');
			setTimeout(function(){
			_d[_d.is(':hover')?'addClass':'removeClass']('show');
			},1);
		}
});	

//Switch light/dark

$("#switch").on('click', function () {
	if ($("body").hasClass("dark")) {
		$("body").removeClass("dark");
		$("#switch").removeClass("switched");
	}
	else {
		$("body").addClass("dark");
		$("#switch").addClass("switched");
	}
});  

})(jQuery); 


/**
			 ---------------- Search form,Js
		**/
		
		var $searchTrigger = $('[data-ic-class="search-trigger"]'),
		$searchInput = $('[data-ic-class="search-input"]'),
		$searchClear = $('[data-ic-class="search-clear"]');
		
		$searchTrigger.click(function(){
		
		var $this = $('[data-ic-class="search-trigger"]');
		$this.addClass('active');
		$searchInput.focus();
		
		});
		
		$searchInput.blur(function(){
		
		if($searchInput.val().length > 0){
		
			return false;
		
		} else {
		
			$searchTrigger.removeClass('active');
		
		}
		
		});
		
		$searchClear.click(function(){
			$searchInput.val('');
		});
		
		$searchInput.focus(function(){
			$searchTrigger.addClass('active');
		});
		
		/*
		End Search Form Js
		*/
		
		function rechercheetab()
		{
			if($('.form-products-plateforme').val().length >= 2)// on vérifier si l'utilisateur a entré plus de 5 caractères
			{
				var libre = $('.zone-etab-rechercher').attr('value'); // on initialise la variable libre
				var donnee = $('.form-products-plateforme').val();  //on récupère la donnée
				if (libre == 0 && donnee != $('.zone-etab-rechercher').attr('name')){ // on vérifier si la requête précedente est rétournée et que la recherche ne corespnd pas à la dernière effectuée
				$('.zone-etab-rechercher').attr('value',1); // on bloque d'autres recherches
				$('.zone-etab-rechercher').attr('name',donnee); // on enregistre la recherche effectuer.
				$('.recherche-products').removeClass('fa-search');
				$('.recherche-products').html('<img src="{{ asset('template/images/attente.gif') }}" alt="" style="width: 15px; height: 15px; margin-top: 0px;"/>'); //attente du résultat
				
					$.get('{{ path('produit_produit_recherche_new_produit', {'position': 'home'}) }}', { donnee: $('.form-products-plateforme').val() }, function(data){
						$('.recherche-products').html('');
						$('.recherche-products').addClass('fa-search');
						$('.content-recherche-products-market').html(data);
						$('.content-manage-market').hide();
						$('.content-recherche-products-market').show();
						$('.content-manage-market').css('margin-top','0px');
						$('.content-manage-market').css('padding-top','0px');
						$('.zone-etab-rechercher').attr('value',0);
						setTimeout(function() { rechercheetab(); }, 100);  // on relance la fonction après 200 ms.
					});
				}else{
					setTimeout(function() { rechercheetab(); }, 100);
				}
			}else{
				setTimeout(function() { rechercheetab(); }, 100);
			}
		}
		
		
		$(".form-products-plateforme").focus(function(){
		rechercheetab(); 
		});
		
		$('.form-recherche-product').on('submit', function(){
			if($('.form-products-plateforme').val().length < 2)// on vérifier si l'utilisateur a entré plus de 5 caractères
			{
				$('.infos-action-effectuer').html('<span class="fa fa-warning"></span> Echec ! Rentrez au moins 2 caractères !');
				$('#infos-action-effectuer').modal('show');
			}else{
				$('.infos-action-effectuer').html('<span class="fa fa-warning"></span> Patientez ! Auto-recherche en cours !');
				$('#infos-action-effectuer').modal('show');
			}
			return false;
		});
</script>
{% else %}
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" style="box-shadow: 0 15px 15px -1px #f2f2f2 inset; background: #fff;">
  <div style="box-shadow: 0px 6px 6px #CCC;">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="{{ path('users_user_acces_plateforme') }}" style="color: green;"><b>Az Corp</b></a>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<li><a href="{{ path('produit_service_visiter_notre_blog') }}" style="color: green;">Formations</a></li>
		<li><a href="{{ path('produit_produit_module_deformation') }}" style="color: green;">Cours</a></li>
		<li><a href="{{ path('produit_service_forum_site') }}" style="color: green;">Forum</a></li>
		<li><a href="{{ path('produit_service_apropos_denous') }}" style="color: green;">À propos</a></li>
		<li>
		<div class="search zone-etab-rechercher" style="display: inline;" value="0" name="">
			<form class="form-recherche-product" action="#!" method="post" style="display: inline;">
				<input type="text" class="search-form form-products-plateforme" autocomplete= "off" placeholder="Lancez la recherche" style="color: #333; margin-top: 15px;"/>
				<i class="glyphicon glyphicon-search recherche-products" style="color: green; z-index: 1000; position: absolute; margin-top: 20px;"></i>
			</form>
	   </div>
		</li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
		
		<li><a href="{{ path('produit_service_toute_actualite_entreprise') }}" style="color: green;">Formateurs</a></li>
		<li>
		<div class="btn-group" style="margin-top: 15px; margin-left: 5px;">
		<a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer; color: green;">{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}<img src="{% if app.user.imgprofil != null %}{{ asset(app.user.imgprofil.getwebpath) }}{% else %}{{ asset('template/images/co.png') }}{% endif %}" alt="" style="width: 20px; height:20px; border-radius: 15px; margin-top: -5px;"/> {{ app.user.name(15) }} {% else %}<img src="{{ asset('template/images/co.png') }}" alt="" style="width: 20px; height:20px; border-radius: 15px; margin-top: -5px;"/> Espace membre{% endif %} <span class="caret"></span></a>
			<ul class="dropdown-menu" style="margin-top: 13px; border-radius: 0px;">
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<li><a href="{{ path('users_user_user_accueil', {'id': app.user.id }) }}"><span class="fa fa-user"></span> Mon compte utilisateur</a></li>
				<li class="divider"></li>
				<li><a href="{{ path('users_user_modifier_profil', {'id': app.user.id }) }}"><span class="fa fa-edit"></span> Modifier mes paramètres</a></li>
				{% if app.user.formateur == true and is_granted('ROLE_FORMATEUR') %}
				<li class="divider"></li>
				<li><a href="{{ path('produit_produit_ajouter_nouveau_produit') }}"><span class="fa fa-plus"></span> Ajoutez un cours</a></li>
				{% endif %}
				<li class="divider"></li>
				<li><a href="{{ path('produit_service_yourcv_recrutement') }}"><span class="fa fa-external-link"></span> Créditez votre compte</a></li>
				<li class="divider"></li>
				<li><a href="{{ path('logout') }}"><span class="fa fa-sign-out"></span> Déconnexion</a></li>
				{% else %}
				<li><a href="{{ path('users_user_inscription_user') }}"><span class="fa fa-hand-o-right"></span> Inscription</a></li>
				<li class="divider"></li>
				<li><a href="{{ path('login') }}"><span class="fa fa-sign-in"></span> Connexion</a></li>
				<li class="divider"></li>
				<li><a href="#!"><span class="fa fa-bell-o"></span> Notifications</a></li>
				<li class="divider"></li>
				<li><a href="{{ path('produit_service_yourcv_recrutement') }}"><span class="fa fa-external-link"></span> Créditez votre compte</a></li>
				<li class="divider"></li>
				<li><a href="{{ path('produit_service_toute_actualite_entreprise') }}"><span class="fa fa-users"></span> Formateurs</a></li>
				{% endif %}
			</ul>
		</div>
		</li>
	  </ul>
	</div><!--/.nav-collapse -->
  </div>
  </div>
</div>


<script type="text/javascript">

function rechercheetab()
{
if($('.form-products-plateforme').val().length >= 2)// on vérifier si l'utilisateur a entré plus de 5 caractères
{
  var libre = $('.zone-etab-rechercher').attr('value'); // on initialise la variable libre
  var donnee = $('.form-products-plateforme').val();  //on récupère la donnée
  if (libre == 0 && donnee != $('.zone-etab-rechercher').attr('name')){ // on vérifier si la requête précedente est rétournée et que la recherche ne corespnd pas à la dernière effectuée
  $('.zone-etab-rechercher').attr('value',1); // on bloque d'autres recherches
  $('.zone-etab-rechercher').attr('name',donnee); // on enregistre la recherche effectuer.
  $('.recherche-products').removeClass('glyphicon-search');
  $('.recherche-products').html('<img src="{{ asset('template/images/attente.gif') }}" alt="" style="width: 15px; height: 15px; margin-top: -10px;"/>'); //attente du résultat
  
	  $.get('{{ path('produit_produit_recherche_new_produit') }}', { donnee: $('.form-products-plateforme').val() }, function(data){
		  $('.recherche-products').html('');
		  $('.recherche-products').addClass('glyphicon-search');
		  $('.content-recherche-products-market').html(data);
		  $('.content-manage-market').hide();
		  $('.content-recherche-products-market').show();
		  $('.content-manage-market').css('margin-top','0px');
		  $('.content-manage-market').css('padding-top','0px');
		  $('.zone-etab-rechercher').attr('value',0);
		  setTimeout(function() { rechercheetab(); }, 100);  // on relance la fonction après 200 ms.
	  });
  }else{
	setTimeout(function() { rechercheetab(); }, 100);
  }
}else{
	setTimeout(function() { rechercheetab(); }, 100);
    }
}


$(".form-products-plateforme").focus(function(){
rechercheetab(); 
});

$('.form-recherche-product').on('submit', function(){
    if($('.form-products-plateforme').val().length < 2)// on vérifier si l'utilisateur a entré plus de 5 caractères
	{
		$('.infos-action-effectuer').html('<span class="fa fa-warning"></span> Echec ! Rentrez au moins 2 caractères !');
		$('#infos-action-effectuer').modal('show');
	}else{
		$('.infos-action-effectuer').html('<span class="fa fa-warning"></span> Patientez ! Auto-recherche en cours !');
		$('#infos-action-effectuer').modal('show');
	}
	return false;
});
</script>

{% endif %}