<div class="modal fade" id="infos-action-modif-travaux-pratique-{{ pratique.id }}" style="margin-top: 100px; z-index: 9999;">

<div class="modal-dialog modal-md" style="border-radius: 10px;">
<div class="modal-content text-left">
<div class="modal-header text-left" style="height: 60px; padding-top: 10px;">
	<h4 class="modal-title" style="padding: 7px; display: block; width: 100%;">
		<button type="button" class="close" data-dismiss="modal" style="float: right!important; margin-top: -15px;">&times;</button>
		<span class="fa fa-file-text-o"></span> Modification du TP N°{{ pratique.num }}
	</h4>
</div>

<div class="modal-body" style="background: #fff; color: #333;">
	<div style="background: #ECF0F1; padding: 15px;">
	<form action="{{ path('produit_produit_modif_support_courant_chapter', {'id': pratique.id }) }}" method="post" {{ form_enctype(formpratique) }}>
	<div>{{ form_label(formpratique.file,'Importez l\'énnoncé du TP depuis votre appareil') }}</div>
	<div class="form-group">
	{{ form_widget(formpratique.file) }}
	</div>
	<div>{{ form_label(formpratique.num,'Ajoutez le numéro du TP') }}</div>
	<div class="form-group">
	{{ form_widget(formpratique.num) }}
	</div>

	<div>{{ form_label(formpratique.correctionpratique,'Importez la correction du TP depuis votre appareil') }}</div>
	<div class="form-group">
	{{ form_widget(formpratique.correctionpratique) }}
	</div>

	<button class="btn btn-primary btn-block btn-lg" style="margin-top: 15px;">Enregistrez <span class="glyphicon glyphicon-send"></span></button>

	{{ form_rest(formpratique) }}
	</form>
	</div>
</div>

<div class="modal-footer" style="display: block!important; text-align: right;">
<span class="pull-left">&copy; {{ site }}</span>
{% include 'GeneralTemplateBundle:Menu:social.html.twig' %}
</div>

</div>
</div>
</div>

<script type="text/javascript">
$('.modification-tp-num-{{ pratique.id }}').click(function(){
	$('#infos-action-modif-travaux-pratique-{{ pratique.id }}').modal('show');
});
</script>