{% extends "Theme/Users/User/layouthome.html.twig" %}
{% block meta %}
	{{ parent() }}
	<meta name="keywords" content="{{ site }}, Business, Innovation,Administration"/>
	<meta name="author" content="Noel Kenfack"/>
	<meta name="description" content="{{ site }} | Inscription | Cameroun | {{ metier }}"/>
{% endblock %}

{% block title %}
	{{ parent() }} | {{ user.name(20) }}
{% endblock %}

{% block userblog_body %}

<style>

.ac-label {
  font-weight: 700;
  position: relative;
  padding: .5em 1em;
  margin-bottom: .5em;
  display: block;
  cursor: pointer;
  background-color: whiteSmoke;
  transition: background-color .15s ease-in-out;
}

.ac-input:checked + label, .ac-label:hover {
  background-color: #999;
}

.ac-label:after, .ac-input:checked + .ac-label:after {
  content: "+";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  background-color: #e5e5e5;
  transition: background-color .15s ease-in-out;
}

.ac-label:hover:after, .ac-input:checked + .ac-label:after {
  background-color: #b5b5b5;
}

.ac-input:checked + .ac-label:after {
  content: "-";
}

.ac-input {
  display: none;
}

.ac-text, .ac-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text { 
  opacity: 1;
  height: auto;
}

.ac-sub .ac-label {
  background: none;
  font-weight: 600;
  padding: .5em 2em;
  margin-bottom: 0;
}

.ac-sub .ac-label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}

.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  background: none;
}

.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
  background: none;
}

.ac-sub-text {
  padding: 0 1em 0 2em;
}



.title-pen {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.title-pen span {
  color: #55acee;
}

.user-profile {
  width: 100%; 
  height: 11em;
  background: #fff;
  border-radius: .3em;
  padding-top: 15px;
  text-align: left;
}

.user-profile  .username {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user-profile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #c0c5c5; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

.user-profile ul.data {
	margin: 2em auto;
  background: #739ee6;
  text-align: center;
  border-radius: 0 0 .3em .3em;
  height: unset;
    margin-top: 35px;
}
.user-profile li {
	margin: 0 auto;
  padding: 1.30em; 
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}

</style>


<div class="container" style="min-height: 10px;">	
<div class="row">	
<div class="col-md-12 text-left">
	<div aria-label="breadcrumb">
		<button type="button" class="btn btn-outline-secondary breadcrumb-toggle" data-toggle="collapse" data-target="#nav" aria-expanded="false" aria-controls="nav">
			Allez à
			<i class="fa fa-caret-down"></i>
		</button>
		
		{% include "Theme/General/Template/Menu/contacts.html.twig" %}
		
		<ol id="nav" class="breadcrumb collapse" style="background: #fff;">
			<li class="breadcrumb-item"><a href=""><span class="fa fa-home"></span> Accueil </a></li>
			<li class="breadcrumb-item" data-toggle="tooltip" data-trigger="manual"><a href="#!"> {{ user.name(30) }}</a></li>
			<li class="breadcrumb-item" data-toggle="tooltip" data-trigger="manual"><a href="#!"> Formation</a></li>
			<li class="breadcrumb-item" data-toggle="tooltip" data-trigger="manual"><a href="{{ path('produit_produit_detail_produit_market', {'id': produit.id }) }}"> {{ produit.titre[:50] }}</a></li>
		</ol>
		
	</div>
</div>
</div>
</div>

<div class="container">
	<div class="row" style="margin-bottom: 0px;">
		{% for infos in app.session.flashbag.get('information') %}
			{% if loop.first %}
				<div class="col-lg-12" style="margin-bottom: 15px; border-radius: 0px;">
					<div class="alert alert-warning text-left alert-dismissable">
					{{ infos|raw }} <button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
				</div>
			{% endif %}
		{% else %}
			<div class="col-lg-12">
				<div class="alert alert-warning text-left">
				<span class="fa fa-info-circle"></span> Feuille de suivi de {{ user.name(30) }} sur ce cours. <span class="fa fa-check pull-right"></span>
				</div>
			</div>

			<div class="col-md-12">
				<div class="user-profile">
				  <img class="avatar" src="{{ asset('template/images/co.png') }}" alt="Ash" />
				  <div class="username">{{ user.name(30) }}</div>
				  <div class="bio" style="display: block; margin-right: 15px;">
					<a href="#!" class="btn btn-primary float-right open_form_send_message" style="float: right;">
						<span class="fa fa-envelope-o"></span> Envoyer un message 
					</a>
					{% if user.poste != null %}{{ user.poste }}{% else %}Profession non spécifiée{% endif %}
					<div class="text-left" style="color: #333;">
						Inscrit depuis le {{ prodpan.panier.date|date('d') }}/{{ prodpan.panier.date|date('m') }}/{{ prodpan.panier.date|date('Y') }}
					</div>
				  </div>
				  
				  <ul class="data">
					<li>
					  <span class="entypo-heart"> -</span>
					</li>
					<li>
					  <span class="entypo-eye"> -</span>
					</li>
					<li>
					  <span class="entypo-user"> -</span>
					</li>
				 </ul>
				</div>
			</div>
		{% endfor %}

		<div class="col-md-12">
			<section style="background: #fff; min-height: 500px; padding: 7px; margin-top: 15px;">

				<h3>{{ produit.titre }}</h3>
				
				{% for partie in liste_part %}
				<div class="ac">
				  
				  <input class="ac-input" id="ac-{{ partie.id }}" name="ac-{{ partie.id }}" type="checkbox" />
				  <label class="ac-label" for="ac-{{ partie.id }}">{{ partie.titre }}</label>
				  
				  <article class="ac-text">
					
					{% for chapitre in partie.getAllChapitre %}
					{% set nbexercice = chapitre.exerciceparties|length %}
					{% set nbtp = chapitre.pratiquechapitres|length %}
					{% set nbqcm = chapitre.getQuestionnaires|length %}
					<div class="ac-sub">
					  <input class="ac-input" id="ac-chapter-{{ chapitre.id }}" name="ac-chapter-{{ chapitre.id }}" type="checkbox" />
					  <label class="ac-label" for="ac-chapter-{{ chapitre.id }}">{{ chapitre.titre }} 
						  <span style="float: right; text-transform: capitalize; font-weight: normal;">
							{% if chapitre.getLectureVideo(user) == true %}
								<span class="fa fa-eye" style="color: green;"></span>
							{% else %}
								<span class="fa fa-eye-slash"></span>
							{% endif %}
							<strong>Exercices:</strong> {{ nbexercice }}; <strong>TP:</strong> {{ nbtp }}; <strong>QCM:</strong> {{ nbqcm }};
						  </span>
					  </label>
					  <article class="ac-sub-text">
							{% if nbexercice != 0 %}
							<div style="background: #fff; padding: 10px; margin-bottom: 15px;">
								<div style="margin-top: 10px;">
									<h4 style="text-align: left; border-bottom: 1px solid #f2dede;"><span class="mdi-communication-textsms" style="font-size: 18px;"></span> Exercices</h4>
								</div>
								<table>
									<thead>
										<tr>
											<th>Enoncé</th>
											<th>Composition</th>
											<th>Correction</th>
											<th>Note/{{ bareme }}</th>
										</tr>
									</thead>
									<tbody>
									{% for exercice in chapitre.exerciceparties %}
										{{ render(controller("App\\Controller\\Produit\\Produit\\PanierController:detailexercice", {'id': exercice.id, 'panier': panier.id, 'ident': loop.index })) }}
									{% else %}
									<tr class="success">
										<td data-column="Enoncé">-</td>
										<td data-column="Composition">-</td>
										<td data-column="Correction">-</td>
										<td data-column="Note/{{ bareme }}">-</td>
									</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						{% endif %}
						
						{% if nbtp != 0 %}
							<div style="background: #fff; padding: 10px; margin-bottom: 15px;">
								<div style="margin-top: 10px;">
									<h4 style="text-align: left; border-bottom: 1px solid #f2dede;"><span class="mdi-communication-textsms" style="font-size: 18px;"></span> Travaux pratiques</h4>
								</div>
								<table class="table table-bordered table-striped table-condensed">
									<thead>
										<tr>
											<th>Enoncé</th>
											<th>Composition</th>
											<th>Correction</th>
											<th>Note/{{ bareme }}</th>
										</tr>
									</thead>
									<tbody>
										{% for pratique in chapitre.pratiquechapitres %}
											{{ render(controller("App\\Controller\\Produit\\Produit\\PanierController:detailpartique", {'id': pratique.id, 'panier': panier.id, 'ident': loop.index })) }}
										{% else %}
										<tr class="success">
											<td data-column="Enoncé">-</td>
											<td data-column="Composition">-</td>
											<td data-column="Correction">-</td>
											<td data-column="Note/{{ bareme }}">-</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						{% endif %}

						{% if nbqcm > 0 %}
						<div style="background: #fff; padding: 10px; margin-bottom: 15px;">
						<div style="margin-top: 10px;">
							<h4 style="text-align: left; border-bottom: 1px solid #f2dede;"><span class="mdi-communication-textsms" style="font-size: 18px;"></span> Questionnaire</h4>
						</div>
						
						<table class="table table-bordered table-striped table-condensed">
						<thead>
						<tr>
							<th>Enoncé</th>
							<th>Composition</th>
							<th>Correction</th>
							<th>Note/{{ bareme }}</th>
						</tr>
						</thead>
						<tbody>
						<tr class="success">
							<td data-column="Enoncé"><a href="{{ path('produit_produit_presentation_chapter', {'id': chapitre.id }) }}"><span class="fa fa-eye"></span> Voir</a></td>
							<td data-column="Composition">-</td>
							<td data-column="Correction">-</td>
							<td data-column="Note/{{ bareme }}">
								<a href="#!">
									<span class="fa fa-file-text-o"></span> 
									{% if prodpan != null %}
										{% set note = chapitre.getNoteQuestionnaire(prodpan) %}
										<strong>{{ note }}/{{ bareme }}</strong>
									{% else %}
									-
									{% endif %} 
								</a> 
							</td>
						</tr>
						</tbody>
						</table>
						</div>
						{% endif %}


					  </article>
					</div>
					{% endfor %}

				  </article><!--/ac-text-->
				  
				</div><!--/ac-->
				{% endfor %}

			  </section>
		</div>
	
	</div>
</div>
<hr>

<div class="modal fade" id="infos-action-new-support-chapter" style="margin-top: 100px; z-index: 9999;">
<div class="modal-dialog modal-md" style="border-radius: 10px;">
<div class="modal-content text-left">
<div class="modal-header text-left" style="padding-top: 10px;">
	<h4 class="modal-title" style="padding: 7px; display: block; width: 100%;">
		<button type="button" class="close" data-dismiss="modal" style="float: right!important; margin-top: -15px;">&times;</button>
		<span class="fa fa-file-text-o"></span> Nouveau support 
	</h4>
</div>

<div class="modal-body" style="background: #fff; color: #333;">
	<div style="background: #ECF0F1; padding: 15px;">
		<h3>Envoyer un message à <a href="#!"><u>{{ user.name(50) }}</u></a></h3>
	</div>

	<div style="margin-top: 15px;">
		<form action="{{ path('produit_service_send_message_tostudent', {'user': user.id, 'panier': panier.id, 'produit': produit.id}) }}" method="post">
			<div class="form-control">
				<textarea name="messageToStudent" class="form-control" id="message_to_student" style="min-height: 200px;" placeholder="Saisissez votre message ici"></textarea>
			</div>

			<div class="form-control" style="margin-top: 15px;">
				<button class="btn btn-primary">
					Envoyer le message 
				</button>
			</div>
		</form>
	</div>
</div>

<div class="modal-footer" style="display: block!important; text-align: right;">
<span class="pull-left">&copy; {{ site }}</span>
{% include 'Theme/General/Template/Menu/social.html.twig' %}
</div>

</div>
</div>
</div>

{% endblock %}


{% block javascripttemplate %}
var bouge = 1;
var dimension = 200;
function activateelement()
{
var visibility = visibleElement('.animecourant-panel');

if(visibility && bouge == 0){
	bouge = 1;
	$('.toutleblock').css('position','relative');
	$('.toutleblock').css('bottom','0px');
	$('.toutleblock').css('margin-bottom','0px');
}
}

function stopelement()
{
var visibility = visibleElement('.stop-courant-panel');
if(visibility && bouge == 1){
	if(visibleElement('.animecourant-panel') && visibleElement('.stop-courant-panel'))
	{
	
	}else{
	bouge = 0;
	$('.toutleblock').css('position','fixed');
	$('.toutleblock').css('width',dimension+'px');
	
	$('.toutleblock').css('bottom','7px');
	$('.toutleblock').css('margin-bottom','50px');
	}
}
}

var idStopelement = 0;
var idActivateelement = 0;
function controlScroll()
{
	var largeur = ($(window).width());
	dimension = $('.toutleblock').width();
	if (largeur >= 768)
	{
	   /*
		if(visibleElement('.animecourant-panel') && visibleElement('.stop-courant-panel'))
		{
			$('.toutleblock').css('position','fixed');
			$('.toutleblock').css('width',dimension+'px'); 
		}else{ 
			idStopelement = window.setInterval(function() { stopelement(); }, 100);
			idActivateelement = window.setInterval(function() { activateelement(); }, 100);
		}*/
		idStopelement = window.setInterval(function() { stopelement(); }, 100);
		idActivateelement = window.setInterval(function() { activateelement(); }, 100);
	}
}
controlScroll();


$('.open_form_send_message').click(function(){
	$('#infos-action-new-support-chapter').modal('show');
});
{% endblock %}